[2016-04-06 04:32] noahmiller opened #1 "Requires react-virtualized css"
Thanks for creating this library!  It made speeding up a select menu with thousands of options a piece of cake.

It would be helpful to note in the README that the react-virtualized css is required as well as react-virtualized-select css.  Something as simple as this in the "Getting started" section:

[code]

Without that styling, menu options don't appear correctly below the top 10% or so of the

[2016-04-07 07:08] lutli opened #2 "Autosizing not working properly in multiselect"
As you will see in your demo as well, when enough items are added for a new line, it takes quite a bit of time for the enclosing element to resize. No clue what is causing it.

[2016-05-03 16:55] rgfoley opened #4 "Using loadOptions instead of explicitly passing a list of options"
Hi, first off I'd like to say I really like the enhancements you've made to react-select. One issue I've run into (and maybe it's just painfully obvious and I don't see it) is that there is no way to use the loadOptions prop which is available against the Select.Async component.

The biggest use-case for using virtualized option scrolling is when there is a large list of options, and I would imagi

[2016-05-03 23:05] vivinRajagopalan opened #5 "Cant we add new stuff to options ?"
Hi,
I am new to react and i was using react select . I have a question. Cant we add to options if we dont find in the list of objects. For Eg. If am searching a city which is not there in the list, cant i add the the city to the list instead of showing no contents found ?

Please let me know

Thanks,
Vivin

[2016-05-10 19:48] leojh opened #6 "Make mention in README.md of additional required css files"
In addition to importing ```react-virtualized-select/styles.css``` which the documentation makes note of, ```react-virtualized/styles.css```and ```react-select/dist/react-select.css``` also seem to be required.

I can do a PR to modify readme file if my observations are consistent with the community's.

[2016-05-13 11:32] ZhangCongjie commented on #6
+1!
`react-virtualized/styles.css` and `react-select/dist/react-select.css` also need to be required but readme file doesn't include.

[2016-05-24 22:00] dsifford commented on #1
For me, in order to get the styles to display properly, I had to also import the stylesheets from `react-select`. You may want to add that as well.

[2016-05-27 19:35] mikesmithut opened #7 "scrolling, grid data gets our of sync on large data size"
As I scroll down, after about 20, I start to see a large white space at the end of the list.  I can see items added, but everything scrolls up until the whole selection list is just white and now entries seen,  As I scroll back up the list I can see items come back into view and the list items on the end are being removed.  I am not sure if its a CSS issue between the Grid object the scrolling are

[2016-05-31 18:49] jsnmoon commented on #6
Agreed, making this more explicit on the README may ease confusion among newcomers.

[2016-06-01 21:41] leojh commented on #6
Made a PR for this issue: #8

[2016-06-01 21:41] leojh commented on #1
Made a PR for this issue: #8

[2016-06-02 01:44] leojh opened #9 "Items not formatting correctly depending on width"
If the width of the component is small or text is too large, then they jumble together. This is inherent to this component and not something that happens in ```react-select```

**react-select**
![screen shot 2016-06-01 at 9 42 33 pm](https://cloud.githubusercontent.com/assets/1440435/15731282/d7008d76-2841-11e6-8fcd-cfd70749e4b2.png)

**react-virtualized-select**
![screen shot 2016-06-01 at 9 42 4

[2016-06-06 05:02] JMoxey opened #11 "Possible to add infinite scrolling?"
Just wondering if it would be possible to add infinite scrolling as per the 'Infinite Loader' on [https://bvaughn.github.io/react-virtualized/](https://bvaughn.github.io/react-virtualized/)?

[2016-06-09 20:17] jeroenbourgois commented on #7
I am experiencing exact the same issue :(

[2016-06-10 15:15] jefvel opened #12 "Scroll bar not draggable in IE"
The scrollbar is not draggable in IE browsers, I've tested it on both Edge and IE 11.
To replicate:
Visit the demo site in IE and try interacting with the scrollbar.
http://bvaughn.github.io/react-virtualized-select/

[2016-06-13 09:05] bencrinkle commented on #7
same here on a dataset of about 2500, get the first 20 or so and then blank.

[2016-06-13 20:33] jameseggers opened #13 "Unable to use with React 15.1.0"
Hey,

I'm unable to make this work with React 15.1.0, the error I'm receiving is:

[code]

Any ideas?

[2016-06-13 21:02] 2slow commented on #13
Had the same issue on react 15.1, and all I had do was running npm install react-addons-shallow-compare --save to fix the problem

[2016-06-13 22:26] jameseggers commented on #13
@2slow that worked, I have it installed, I'm able to load options into the select element but I'm seeing some weird behaviour - the options kinda jump around a little and if you scroll down too far they all disappear. Is it working as expected for you?

[2016-06-14 05:49] 2slow commented on #13
Did you require the CSS file or react-select as mentioned in [https://github.com/bvaughn/react-virtualized-select/issues/6](https://github.com/bvaughn/react-virtualized-select/issues/6) It's not in the read.me file yet but did the trick for me.

[2016-06-14 09:06] jameseggers commented on #13
Ah, that's probably it. Will close when I try it later, thanks!

[2016-06-16 15:19] bvaughn commented on #1
Hey guys! I'm _extremely_ sorry for not seeing this issue earlier. Something got messed up somehow with my watch settings and I haven't been receiving any notifications for this project.

The README has been updated thanks to a PR from @leojh. Sorry for the confusion!

[2016-06-16 15:19] #1 closed

[2016-06-16 15:20] bvaughn commented on #7
Hey guys! I'm _extremely_ sorry for not seeing this issue earlier. Something got messed up somehow with my watch settings and I haven't been receiving any notifications for this project.

This issue is because you're not including react-virtualized CSS file. Which is in turn because my README example didn't show it. That has since been corrected. Very sorry!

[2016-06-16 15:20] #7 closed

[2016-06-16 15:20] bvaughn commented on #13
Hey guys! I'm _extremely_ sorry for not seeing this issue earlier. Something got messed up somehow with my watch settings and I haven't been receiving any notifications for this project.

The issue of seeing blank rows after you scroll past the first "page" of rows is indeed because the react-virtualized CSS styles have not been included. The README example has been updated to show this step. That

[2016-06-16 15:20] #13 closed

[2016-06-16 15:25] bvaughn commented on #11
Going to close this issue for now as I don't think it's something that's generically useful.

[2016-06-16 15:26] bvaughn commented on #6
I'm _extremely_ sorry for not seeing this issue earlier. Somehow my GH "watch" got removed from this project and I haven't been receiving any notifications.

@leojh 's PR has been merged! README now has this listed.

[2016-06-16 15:26] #6 closed

[2016-06-16 18:04] bvaughn commented on #2
I'm very sorry for ignoring this issue for so long. My Github "watch" setting was somehow deactivated without my realizing it and I didn't receive notifications for this project. I'm really behind on issues now unfortunately but I'll try to take a look at this one by the weekend.

[2016-06-16 18:07] bvaughn commented on #5
Hi @vivinRajagopalan, I'm very sorry for ignoring this issue for so long. My Github "watch" setting was somehow deactivated without my realizing it and I didn't receive notifications for this project.

This sounds like something that your application logic should manage rather than react-virtualized-select. This project (and react-virtualized underneath) doesn't create any data. It just displays i

[2016-06-16 18:07] #5 closed

[2016-06-16 18:09] bvaughn commented on #4
I'm very sorry for ignoring this issue for so long. My Github "watch" setting was somehow deactivated without my realizing it and I didn't receive notifications for this project.

I'm not familiar with the Select.Async use case. I'm a bit behind because of the watch issue so I'm not sure how soon I can get to this- but I'll try to take a look at some point by the weekend and see if it's something

[2016-06-16 18:11] bvaughn commented on #12
I'm very sorry for ignoring this issue for so long. My Github "watch" setting was somehow deactivated without my realizing it and I didn't receive notifications for this project.

Unfortunately I'm a bit behind because of this- but I'll try to take a look at this issue by the weekend.

[2016-06-16 19:20] leojh commented on #9
@bvaughn I guess I thought it should render just like `react-select` but you bring up a good point about styles introduced by `react-virtualized`

I will spend some more time looking at this from that angle, let's leave this open for now if that's ok with you while I look at it.

[2016-06-16 19:27] bvaughn commented on #9
Gotcha. With react-virtualized, you're making a bit of a tradeoff. You gain performance but you sacrifice a bit of flexibility.

With v7 react-virtualized, this is less an issue- because there are HOCs like `CellMeasurer` to help with just-in-time measuring and dynamic heights of rows. That functionality isn't exposed in react-virtualized-select though. (Maybe it could be?) At the moment though, i

[2016-06-16 19:48] leojh commented on #9
perfect. I'll be taking a look for sure within the next few days. have to clear out some other things first :)

[2016-06-17 04:38] bvaughn commented on #2
It looks like `AutoSizer` is actually just not being notified of the "resize" until you either scroll _or_ mouse over the input row. If you do that right away, it resizes right away. If you don't move your mouse- it never resizes.

Unfortunately, DOM elements don't dispatch resize events and so `AutoSizer` is built on top of [sdecima/javascript-detect-element-resize](https://github.com/sdecima/jav

[2016-06-17 21:17] bvaughn commented on #12
This actually appears to be a shortcoming of [react-select](https://github.com/JedWatson/react-select/blob/master/src/Select.js#L361):

[code]

In this case, IE11 is reporting `document.activeElement` as a _child_ of `refs.menu` but react-select expects them to be equal.

[2016-06-17 21:18] bvaughn commented on #12
Going to close the issue _here_ and file a PR against react-select.

[2016-06-17 21:18] #12 closed

[2016-06-30 14:19] ermannos opened #14 "optionRenderer error"
I'm using a VirtualizedSelect with a custom optionRenderer.
The documentation states that the renderer function should receive an object with many named parameter (one of which is the option to be rendered), but under some conditions it will only be called with the option itself (and in this case from the call stack I see that the caller is Select.js instead of VirtualizedSelect.js).

The two imag

[2016-06-30 15:01] bvaughn commented on #9
Any update on this issue from your end, @leojh ? Just curious if you were able to find a work-around or any new ideas. I haven't spent much time thinking about it, admittedly.

[2016-06-30 15:03] bvaughn commented on #14
Hey @ermannos,

Can you help me understand what those conditions are? (How to reproduce in essence.)

I don't use `react-select` in any of my production projects so my experience with it is, unfortunately, limited to the [demo application](https://bvaughn.github.io/react-virtualized-select/) for this HOC. I've never seen this behavior in that application though.

[2016-06-30 15:05] bvaughn commented on #14
Also could you let me know which version and build (minified or not) of `react-select` you're using? I could at least trace the stack then.

[2016-06-30 15:17] ermannos commented on #14
Hi @bvaughn,

I can only say that on some development machines it works, and on the production server and on other dev machines doesn't, even if all are using the same node version and the same webpack configuration.
We are using react-select version 1.0.0-beta13 with React 15.1.0

[2016-06-30 16:54] leojh commented on #9
@bvaughn admittedly, no :) I will be finishing up with my feature here prob in a week or so have this is on the final "polishing up" list that I have so I will be getting to it then.

**For anyone dealing with this, a simple workaround is just to increase width of dropdown enough for it not be an issue**

[2016-06-30 16:59] bvaughn commented on #14
You can see the source for `react-virtualized-select` [here](https://github.com/bvaughn/react-virtualized-select/blob/master/source/VirtualizedSelect/VirtualizedSelect.js). It's pretty small. It only calls the specified `optionRenderer` in one place, with named parameters.

And at a glance, the only place `react-select` calls `optionRenderer` is [here](https://github.com/JedWatson/react-select/blo

[2016-06-30 17:00] bvaughn commented on #9
No problem :) Let's chat more then when you get back to it.

[2016-07-05 07:48] ermannos commented on #14
I think we've solved the problem, it was caused by a specific version of `react-select`.
The integration machine, which builds the project for the production environment, was still using `react-select` version 1.0.0-beta8. After a cleaning, it is now using the 1.0.0-beta13 and everything is working fine.
Many thanks again for your help!

[2016-07-14 12:58] freeranger opened #15 "Different height per option"
I would like to be able to set the height of the options individually.
Reason:  I want to support the concept of option groups and the group header would be a different height to the other options in the list, e.g.

![image](https://cloud.githubusercontent.com/assets/1401069/16840106/baf61efc-49ca-11e6-9f08-482889897e86.png)

I have the option group working using a custom renderer with different s

[2016-07-17 02:27] bvaughn commented on #15
Hi @freeranger. Sorry for the slow response. I'm traveling in Japan this week and my schedule has been a bit disrupted.

I agree that supporting a callback function for `optionHeight` would be nice.

[2016-07-17 02:32] bvaughn commented on #15
Just remembered why I only supported a numeric property for this. It's because filtered selects may shrink smaller than the default/max height, in which case the select menu should resize to fit its content. It's harder to calculate this if the option heights are dynamic.

[2016-07-17 02:39] bvaughn commented on #15
Still, I think it's worth adding a tiny bit of complexity to support this use case. Give me a few minutes and I'll put up a new version. :)

[2016-07-17 03:25] bvaughn commented on #15
Hit an unexpected snag with regard to filtering. `VirtualizedSelect` only has access to an iterable set of options but not the visible (filtered) set. So its indices don't necessarily match up to what's being rendered.

[2016-07-17 08:21] freeranger commented on #15
Hi, if the function received the option data itself rather than the index of the option then it wouldn't matter if the indices are out because you are calculating the height based on the data rather than its position.

An alternative to supporting dynamic option heights would be to support the concept of option groups and allow the height of a group to be different to the height of actual options

[2016-07-17 08:58] bvaughn commented on #15
Yeah, there's a tricky case here though that's a combination of the things I mentioned above. If the list has been filtered, `VirtualizedSelect` doesn't know what the filtered options are and so it can't match an index up to an option. This means it can't determine if the select menu should be shrunk b'c the number of options are smaller/shorter than the size of the select.

[2016-07-17 09:05] bvaughn commented on #15
D'oh. Sorry. Re-reading through `Select` code and I believe I _do_ actually have those options as a parameter to `menuRenderer`. :)

[2016-07-17 09:18] bvaughn commented on #15
This feature is now available in version `1.1.0`. Thanks for the suggestion!

A demo can be seen [here](https://bvaughn.github.io/react-virtualized-select/) with source code [here](https://github.com/bvaughn/react-virtualized-select/blob/master/source/VirtualizedSelect/VirtualizedSelect.example.js#L129-L142).

[2016-07-17 09:18] #15 closed

[2016-07-17 09:22] freeranger commented on #15
@bvaughn awesome - that is exactly the functionality we need - many thanks for implementing it!

[2016-07-17 09:23] bvaughn commented on #15
No problem! Very happy to hear it will help you out. :)

[2016-07-17 09:24] freeranger commented on #15
don't say that - I might be back with a load more ;^)

[2016-07-17 09:25] bvaughn commented on #15
Haha, well contributions are also welcome ;)

[2016-07-17 17:58] trekinbami opened #16 "Uncaught TypeError: optionHeight is not a function"
When I try to run the example, Chrome gives me the following error:

`Uncaught TypeError: optionHeight is not a function`

The example at (http://bvaughn.github.io/react-virtualized-select/) seems to have the same issue.

[2016-07-17 18:09] trekinbami commented on #16
It appears when I don't define the optionHeight property, it breaks. It requires the property to have a function as value. When i return a integer as a value from a function, it does work:

`optionHeight={() => (35)}`

[2016-07-17 22:51] bvaughn commented on #16
Oh boy. I'll fix it momentarily.

[2016-07-17 22:56] bvaughn commented on #16
Fixed and released as 1.1.1. Sorry for the regression! Thanks for calling it to my attention.

[2016-07-17 22:56] #16 closed

[2016-07-18 00:34] bvaughn commented on #4
Getting a chance to look at this now. Async options are now supported via a new `async` property.

Check out a demo [here](https://bvaughn.github.io/react-virtualized-select/) and the source code [here](https://github.com/bvaughn/react-virtualized-select/blob/master/source/VirtualizedSelect/VirtualizedSelect.example.js#L152-L182).

[2016-07-18 00:34] #4 closed

[2016-07-18 23:26] bvaughn commented on #9
Spent a couple of hours looking into this feature request over the weekend and it seems a bit more complicated to support than I initially suspected. I have it partially working but there are some unhandled edge-cases that I wasn't able to resolve.

[2016-07-19 01:43] leojh commented on #9
I can always import your changes in my project and take a look there

[2016-07-19 01:56] bvaughn commented on #9
Sure. I'll push up my work-in-progress branch at some point after work today.

[2016-07-20 12:03] bvaughn commented on #9
Sorry @leojh! Slipped my mind after work.

Just pushed branch [`issues/9`](https://github.com/bvaughn/react-virtualized-select/tree/issues/9) if you'd like to take a look. It's very much a work-in-progress. I just ran out of time at the moment. :)

[2016-07-20 22:59] alecperkey opened #17 "feat req: checkbox for multiselect"
Has this been considered?
I believe checkboxes in the dropdown are more universally understood from a UX perspective. (at least my boss' perspective)

I suppose the easiest way to achieve this could be acheived with a ::before psuedo element on the select option rows or a css rule.

Shall I make a PR for a boolean prop which could allow this?

regards

[2016-07-20 23:13] bvaughn commented on #17
Couldn't you implement this with a custom option-renderer?

I'm a bit wary to add features to the core that could be implemented in userland. :)

[2016-07-20 23:41] alecperkey commented on #17
Yes that will work. Thank you for the suggestion!

[2016-07-20 23:41] #17 closed

[2016-07-20 23:53] bvaughn commented on #17
No problem! If you write something you think would be useful for others~ and you'd be willing to share it~ let's add it to a "recipes" section or something. :)

[2016-08-10 04:02] bvaughn commented on #9
I am going to close this issue for now because I don't plan on taking any action on it at the moment. Happy to continue talking about it and to look over any PR if you decide to share a possible solution though! :)

[2016-08-10 04:02] #9 closed

[2016-08-14 01:09] dsifford opened #19 "[Likely user error] - React virtualized select not loading items beyond the first 20-30 upon scrolling."
Hi there,

Until just recently, I've been using this component without any issues whatsoever. However, it seems that as soon as I converted my codebase to mobx, I've been having a strange issue where it doesn't load beyond the first 20-30 items.

There are approximately ~1300 items that are all completely available and in the correct shape when the component mounts (no async necessary).

Here's a

[2016-08-14 02:53] bvaughn commented on #19
Hey @dsifford,

Your recording makes me guess that you aren't requiring `react-virtualized-select/styles.css`

[2016-08-14 02:54] bvaughn commented on #19
Quickly greping the project you linked to confirms this. :)

[2016-08-14 02:58] dsifford commented on #19
I took all css from `react-virtualized-select/styles.css` (as well as react select) and threw it in the global application css [here](https://github.com/dsifford/academic-bloggers-toolkit/blob/master/src/lib/css/collections/react-select.styl), which is bundled [here](https://github.com/dsifford/academic-bloggers-toolkit/blob/master/src/lib/css/admin.styl) and available at runtime.

Is this a no-no

[2016-08-14 03:00] dsifford commented on #19
The reason for my decision to do that was because that was the only css that I needed to bundle with the application, and I figured it would be overkill to install `style-loader` and `css-loader` just for that.

[2016-08-14 03:01] dsifford commented on #19
Trying to bundle using webpack now. I'll report back with the results on that in a sec.

[2016-08-14 03:18] dsifford commented on #19
Yep, you were right.

That makes no sense to me. I suppose I'll just stop trying to be clever and follow instructions!

[2016-08-14 03:19] #19 closed

[2016-08-14 04:22] bvaughn commented on #19
Haha, no worries. It's just a common source of problem. (I've seen at least a dozen bug reports that behave the same, and the source is always missing styles, so it's easy to diagnose.)

[2016-08-15 22:38] Stenerson commented on #7
@bvaughn I just started playing with this today (@ v1.3) and I'm experiencing this.

I've validated that I'm loading the styles.css file (there's a noticeable style difference when I remove the import to styles) not sure what else to check. Any ideas? Thanks!

[2016-08-17 17:32] turnerniles opened #20 "Filtering Performance with Large Lists (2000+)"
After playing around with the virtualized select (without filtering) it works performantly even with 1 million records. However when filtering based on user input it comes to a crawl around 2000-3000 items. Would you have any suggestion as to how to make the filtering more performant?

Looking at the react-select repo issues, a few people are having the same problem.
https://github.com/JedWatson/r

[2016-08-17 17:45] bvaughn commented on #20
I _think_ this problem comes down to how filtering is done within `react-select` (aka [synchronously, in the UI thread](https://github.com/JedWatson/react-select/blob/master/src/Select.js#L826-L864). For large lists, this is going to hurt FPS.

I've created some JS search libs (eg [`js-worker-search`](https://github.com/bvaughn/js-worker-search), [`redux-search`](https://github.com/treasure-data/r

[2016-08-17 17:45] #20 closed

[2016-08-17 18:06] turnerniles commented on #20
@bvaughn I agree with the above; however, react-select cannot performantly render 3000+ items without using react-virtualized-select. Would react-select want to implement the faster js search libs if they don't support large lists? React-select does allow advanced filtering options. Is it something that could be built in react-virtualized-select on top of react-select?

[2016-08-17 18:14] bvaughn commented on #20
Definitely! `react-virtualized-select` would still have a place in speeding things up too. :)

I like using high-order components for this sort of functionality because (a) it doesn't bloat or add complexity to the underlying library (`react-select`) and (b) it lets users opt-in if they need the functionality. Lots of users just want a simple, styled drop-down menu and `react-select` works fine fo

[2016-08-29 14:24] mbrevda commented on #9
I'm having what I believe is a similar issue, the select box doesn't grow to fit it's content:

<img width="103" alt="screen shot 2016-08-29 at 5 21 23 pm" src="https://cloud.githubusercontent.com/assets/293004/18054608/42a701a2-6e0d-11e6-9dd0-356fc62a7697.png">

Here are my changes to the css, I don't think they should be affecting anything:
[code]

Am I doing something wrong?

[2016-08-29 14:54] bvaughn commented on #9
Hey @mbrevda,

Those styles belong to `react-select` (not `react-virtualized-select`) so maybe this comment is in the wrong place? `react-virtualized-select` doesn't come into play until the select menu is opened; (it renders the drop-down part).

[2016-08-29 14:56] mbrevda commented on #9
Yup, wrong repo. Thanks!

[2016-08-29 14:57] bvaughn commented on #9
No problem! :D

[2016-09-09 13:14] michalvankodev opened #22 "Creatable Virtualized Select"
Hello

Is there any way how to use VirtualizedSelect as a renderer for Creatable from react-select? https://github.com/JedWatson/react-select/#user-created-tags

I couldn't find any example and when I read the code it looks like those components can't be composed together.

[2016-09-10 00:32] bvaughn commented on #22
Yup. Support for this has been added in 1.4.0.

[code]

[2016-09-10 00:32] #22 closed

[2016-09-14 22:36] Haemoglobin commented on #19
Spent a long time today figuring out why I was getting the same issue, drove me crazy until I realised I was missing the
import 'react-virtualized/styles.css'

Note, that's different to the 'react-virtualized-select/styles.css' mentioned above! It's missing from the "getting started" section, although it's mentioned in the sample part...

[2016-09-15 00:06] bvaughn commented on #19
Oh snap. Sorry @Haemoglobin. I've just updated the README.

[2016-09-16 08:18] kamalpatel125 opened #23 "Search is very slow"
Hi Brian,

First of all thanks for doing great work, really appreciate this. Actually, I am using react-virtualized-select for my project for data items > 400.  I realised that search is very slow and noticeable but after using "react-select-fast-filter-options" passing down filterOptions, search becomes really fast.

Is it not possible to integrate "react-select-fast-filter-options" into "react-v

[2016-09-16 19:06] bvaughn commented on #23
Hi @kamalpatel125,

Thanks very much for the kind words. 😀 I'm glad to hear you're finding both projects useful!

I understand your train of thought here. If you're using _react-select-fast-filter-options_ then it seems pretty likely that you'll also want to use _react-virtualized-select_. I'm not convinced you always want to use fast-filter-options though. (I think you might just want to use _rea

[2016-09-16 19:06] #23 closed

[2016-09-21 06:04] eyala-stratoscale opened #24 "missing dependencies - react-addons-shallow-compare"
react-addons-shallow-compare is currently in devDependencies , should be in dependencies

[2016-09-21 06:08] bvaughn commented on #24
`react-addons-shallow-compare` (like the other React modules) actually belong in `peerDependencies` (which is [where it is](https://github.com/bvaughn/react-virtualized-select/blob/master/package.json#L123-L126)). This is required for React 0.14 support.

It only happens to be in `devDependencies` as well because of the demo site I build. 😄

[2016-09-21 06:08] #24 closed

[2016-09-21 06:09] eyala-stratoscale commented on #24
Getting Many
ERROR in ./~/react-virtualized/dist/commonjs/ArrowKeyStepper/ArrowKeyStepper.js
Module not found: Error: Cannot resolve module 'react-addons-shallow-compare' in /home/eyala/work/mui2.0/js/client/node_modules/react-virtualized/dist/commonjs/ArrowKeyStepper
 @ ./~/react-virtualized/dist/commonjs/ArrowKeyStepper/ArrowKeyStepper.js 13:33-72

errors after adding react-virtualized-select pa

[2016-09-21 06:13] bvaughn commented on #24
You'll need to install `react-addons-shallow-compare` but I can't mark it as a `dependency` without breaking React 0.14 support. Npm should show you a warning about this when you install the lib. I've mentioned it in the docs [here](https://github.com/bvaughn/react-virtualized#dependencies).

The fix should be simple for you:
[code]

😄

[2016-09-21 06:33] eyala-stratoscale commented on #24
yes, easy fix ... .nevermind then... thanks

[2016-10-06 22:15] r1g0 opened #25 "Select all filtered"
Hello, I've been using this select and so far it's great but I found the need to use a 'select all shown' option.

I am planning to do it now, have you thought about it? do you have any recommendations?

![screen shot 2016-10-06 at 3 43 27 pm](https://cloud.githubusercontent.com/assets/1535107/19172214/ddf361ee-8bdd-11e6-8f6c-040169590f70.png)

[2016-10-06 22:19] bvaughn commented on #25
Hm. Interesting.

Initially, I don't think this feature belongs inside of `react-virtualized-select`. I'm not even sure it belongs inside of the drop-down portion of the select at all. Seems like maybe it would be better shown in the top section you can type within. Putting it within the drop-down list seems kind of like a confusing UX because (a) not all things in the list are the same type of th

[2016-10-06 22:45] r1g0 commented on #25
Ok, good point.  What about this?

![screen shot 2016-10-06 at 4 40 49 pm](https://cloud.githubusercontent.com/assets/1535107/19173259/b5e0527e-8be3-11e6-8696-84172c9297ac.png)

I was thinking of perhaps changing the word "select" for an icon, or leaving it like this.

[2016-10-06 22:50] bvaughn commented on #25
In my opinion, this is a better UX. 👍

You should be able to implement this within react-select by overriding the default `inputRenderer`. react-virtualized-select only controls what is rendered within the drop-down window.

[2016-10-06 22:50] bvaughn commented on #25
If you do implement this, it might be nice to release it as its own add-on component (similar to this library or [react-select-fast-filter-options](https://github.com/bvaughn/react-select-fast-filter-options).

[2016-10-06 22:51] bvaughn commented on #25
I'm going to close this issue for now as I don't think it's react-virtualized-select specific. This library [only concerns itself with the `menuRenderer`](https://github.com/bvaughn/react-virtualized-select/blob/master/source/VirtualizedSelect/VirtualizedSelect.js#L36-L46). All other properties are passed through to react-select.

[2016-10-06 22:51] #25 closed

[2016-10-06 23:08] r1g0 commented on #25
Ok, will do. Thanks for the help.

[2016-10-06 23:15] bvaughn commented on #25
No problem~ 😄

[2016-10-07 01:45] leftmostcat opened #26 "Add support for "infinite" async options"
Currently, there's no provision in the use of `loadOptions` to do paged queries. A property for `loadPagedOptions` or similar whose signature included a row count would allow for use of the component in cases where there may be a large number of results which it may be impractical or impossible to narrow by additional search terms.

[2016-10-07 03:36] bvaughn commented on #26
Hey @leftmostcat,

This request would require support from [react-select](https://github.com/JedWatson/react-select/) as [`loadOptions`](https://github.com/JedWatson/react-select#async-options-with-promises) belongs to it. react-virtualized-select (this project) just deals with showing large option lists once loaded.

The only touch-points here is that react-virtualized `rowCount` is determined by

[2016-10-07 03:36] #26 closed

[2016-10-13 12:58] mbrevda opened #28 "es6 code inclusion issues"
Trying to include VirtualizedSelect with rollup threw issues about `_default` being undefined. Changing the `jsnext:main` path to  `dist/es/VirtualizedSelect/VirtualizedSelect.js` resolved the issues. Is there any reason to include the index.js which includes another index.js instead of just exporting VirtualizedSelect.js directly?

[2016-10-13 15:51] bvaughn commented on #28
It's a habit held over from larger projects where there is more than one component being exported.

I'm not sure I understand why rollup would be unhappy with that. It seems like a valid import/export chain.

[2016-10-13 15:52] mbrevda commented on #28
Weird. Due to its extreme amount of issues and weirdies, I'm giving up on rollup, so feel free to close/ignore this.

[2016-10-13 15:53] bvaughn commented on #28
No problem. 😄 I have never used it myself so I'm afraid I can't be of much help here unfortunately.

[2016-10-13 15:53] #28 closed

[2016-10-13 16:06] mattgrosse opened #29 "Is it possible to reduce the size of the react-virtualized dependency?"
In an attempt to trim down the size of my bundle, I've been switching my imports to use file paths rather than destructuring assignments. I'm using webpack 1, so I think this is the only way I can achieve "tree shaking". ([I read this article](https://lacke.mn/reduce-your-bundle-js-file-size/))

I analyzed the my bundle and see that react-virtualized is being pulled in at 227k (which I assume is t

[2016-10-13 16:20] bvaughn commented on #29
Great suggestion, @mattgrosse.

I _believe_ it may be as simple as changing this line:
[code]

I'll take a look at it later this morning. 😄

[2016-10-13 21:04] bvaughn commented on #29
I created a simple application using create-react-app. I installed react-virtualized-select (latest) and added it to the main `App.js` file. Then I built the app and resulting JS size is 300kb.

I did the same thing, but with a version of react-virtualized-select that uses imports like the ones I mentioned above. The resulting JS size is 245kb. So it looks like we can shave a whole 55kb off of the

[2016-10-13 21:04] #29 closed

[2016-10-13 21:12] mattgrosse commented on #29
Thanks Brian, that's great. I'll give it a try soon and let you know!

[2016-10-14 14:51] mattgrosse commented on #29
@bvaughn After updating to 2.0.2, my production bundle (using UglifyJS) was about 50k smaller as well. So that's great! Glad this worked out.

[2016-10-14 15:24] bvaughn commented on #29
Glad to hear 😄

[2016-10-20 18:29] dcneiner opened #30 "Exposing props for the List component"
We are trying to use this component to render a large lazily loaded list. In our use case, the list could conceivably contain 5000 items, and we are only loading the first 50. We populate the list will 5000 items, but they say "Loading…" until the ajax is returned.

Here is the problem: We need to know what rows were just rendered so we can ensure there was content for those rows. We are using rea

[2016-10-21 02:02] bvaughn commented on #30
Hm, interesting. I believe that a `...rest` type props-pass-thru would be reasonable for any props not used by the virtualized select. That way anyone wanting to make use of any other vanilla react-virtualized functionality could.

[2016-10-21 02:11] bvaughn commented on #30
Okay. 2.1.0 has this feature via a new `listProps` property. Good suggestion! Thanks~

[2016-10-21 02:11] #30 closed

[2016-10-21 10:43] freeranger opened #31 "Unable to select text in the input box"
I want to be able to select all the entered text by default when the input gets the focus (and be able to change which bit is selected once I have the focus - left-mouse drag) but neither seem to work.
I have an onFocus method:
[code]
but it doesn't do the job - it is called (I get the log message) but the text does not get selected, and nor can I use the mouse (or keyboard) to select the text in

[2016-10-21 11:22] bvaughn commented on #31
Pretty sure this issue should be filed against [react-select](https://github.com/JedWatson/react-select/). This library (react-virtualized-select) is just a convenience wrapper around that one. It renders the drop-down area using react-virtualized. The text input you're referring to is rendered entirely by react-select.

Going to close this issue here for now. I suggest you re-open it [here](https

[2016-10-21 11:22] #31 closed

[2016-10-21 14:37] dcneiner commented on #30
@bvaughn Thank you so much! I'll pull it down and try it out!

[2016-11-17 14:11] DigitalMarc opened #32 "multiselect with comma in the value"
Hi,
First: thanks for that great component!
If the items in the list contains comma, the default behavior of the multi selection is not correct.

[2016-11-17 15:34] turnerniles opened #33 "Createable Options On Click Does Not Add to List"
Looking at http://bvaughn.github.io/react-virtualized-select/

Creating your own options works when you type in a custom options and hit the 'enter' key. However, if you type in a custom option and then click on the custom option it will not add it to the list.

Adding on a custom option on click does work on the non-virtulized react-select. http://jedwatson.github.io/react-select/

[2016-11-17 16:28] bvaughn commented on #33
My demo was built prior to the most recent release candidate of react-select. Are you seeing this bug yourself, running the newest versions of both?

[2016-11-17 16:30] bvaughn commented on #32
You're welcome 😄

This sounds like an issue that should be filed against react-select. This library just manages the rendering of the drop-down portion of the select for efficiency. The top, input area (and the multi-select state management) is all controlled by react-select.

I _think_ this issue should be moved to there so I'm closing it as non-actionable here. Please correct me if I've misunder

[2016-11-17 16:30] #32 closed

[2016-11-17 16:44] DigitalMarc commented on #32
That make perfect sense!
For now I've just removed the comma from the values but I set the "simpleValue" to false as well ;)
Thanks for the quick reply!

[2016-11-17 16:45] bvaughn commented on #32
Yup! :)

[2016-11-17 19:01] turnerniles commented on #33
Yes, I am running react-select version 1.0.0-rc.2 and react-virtualized-select v.2.1.0. The react-select demo is running an older version on their demo site but I checked react-select without virtualized select and it works.

[2016-11-17 19:03] turnerniles commented on #33
Logging what it's trying to add when try adding a custom option "test" and I click:
["Create option "test""]
Logging what it's trying to add when try adding a custom option "test" and I hit enter:
["test"]

[2016-11-18 00:56] bvaughn commented on #33
Looks like this is actually due to a bug in react-select `Creatable`. I've added a workaround in react-virtualized-select (released as version 2.1.1) and I'll make sure the fix gets added upstream in react-select. Thanks for the report.

[2016-11-18 00:56] #33 closed

[2016-11-18 14:25] turnerniles commented on #33
Thank you bvaughn

[2016-12-08 19:35] vidaaudrey opened #34 "Async and Creatable Options don't work in Safari"
I was trying the react-virtualized-select, it has been great except that the async and creatable options somehow don't work in Safari. For async, I think it's because fetch is not supported. For Creatable options, I'm not exactly sure.  Does anyone know the how to solve the problem?

[2016-12-08 21:13] bvaughn commented on #34
Hi @vidaaudrey,

No. I see that you're correct; the demo site doesn't work on Safari. I don't know why though. Probably don't have the time to debug it any time soon. I'd welcome PRs if you do. 😄

[2016-12-09 19:51] lucaas commented on #2
I encountered this issue and needed a way to solve it. What I ended up doing was to trigger an recalculation of the component's height.

[code]

[2016-12-25 20:35] raineroviir opened #37 "<instance>.focus()"
React-select has a method for focusing `<instance>.focus()`

How I can access this function inside react-virtualized-select instances ?

My use case for this focus function is that I have 2 react-virtualized-select components and I want to be able to focus on the 2nd instance once the user has picked an item from the first instance.

edit: I poked around and it looks like the reference to the Sele

[2016-12-25 21:24] bvaughn commented on #37
I [pass through most props to the inner `Select`](https://github.com/bvaughn/react-virtualized-select/blob/3e44736be7456e154b1ae0f3285bfc250c3ba5d2/source/VirtualizedSelect/VirtualizedSelect.js#L45) so in your case, all you need to do to get a handle on it is to provide your own `ref`, eg:

[code]

[2016-12-25 21:24] #37 closed

[2016-12-25 22:31] raineroviir commented on #37
this._reactSelect doesn't seem to consistently return the same thing and sometimes it's null.  It seems that setting the ref and then accessing that ref's properties is more consistent than setting the ref to an internal component inside the ref callback

[2016-12-25 22:32] bvaughn commented on #37
ref gets reset (to null) by React and then updated to the new component
instance. This is expected. Happens with all refs.

On Dec 25, 2016 5:31 PM, "Rainer Oviir" <notifications@github.com> wrote:

this._reactSelect doesn't seem to consistently return the same thing and
sometimes it's null. It seems that setting the ref and then accessing that
ref's properties is more consistent than setting the

[2016-12-25 22:36] raineroviir commented on #37
Gotcha. Thanks for helping out! Merry christmas

[2016-12-25 22:37] bvaughn commented on #37
No problem! You too!

[2016-12-28 14:20] michalvankodev commented on #33
I've just noticed.. When I use `promptTextCreator`. I have a really bad behavior when using `enter`. It creates a new option twice. First time without `promtText` but it gets immediately replaced with new option which will include whole output of `promptTextCreator`. It only happens when I submit the option with `enter` key.

[2016-12-29 12:31] michalvankodev commented on #33
Ok, You can ignore my comment. I just found out that we've used wrong function signature for `shouldKeyDownEventCreateNewOption`. Which will cause always return false and then the event propagated to normal `this.select.selectValue(this._focusedOption);` instead of `this.createNewOption()` in Creatable.

[2016-12-29 13:25] bvaughn commented on #33
Thanks for the update.

[2017-01-06 20:34] bagl opened #38 "maxHeight > 200 not working"
Clearly the prop is passed down, but when set above 200 the popup menu is still only 200px tall.

Maybe it's an issue of react-select, but I am not sure...

[2017-01-06 21:08] bvaughn commented on #38
This should be filed against react-select. If react-virtualized-select is passing the prop ([which it is](https://github.com/bvaughn/react-virtualized-select/blob/3e44736be7456e154b1ae0f3285bfc250c3ba5d2/source/VirtualizedSelect/VirtualizedSelect.js#L45)) then it's out of my hands. 😄

It looks like react-select sets a [max height of 200](https://github.com/JedWatson/react-select/blob/ef3a4687bc676

[2017-01-06 21:08] #38 closed

[2017-01-15 18:44] the-spyke opened #39 "Highlight selected option."
The default option renderer doesn't set a class for currently selected option (it sets a class only for focused and disabled options). Is this intentional or I may submit a pull request?

[2017-01-15 18:49] bvaughn commented on #39
Sure, feel free to submit a PR 😄

[2017-01-15 19:30] #39 closed

[2017-01-15 19:33] bvaughn commented on #39
Published as 2.2.0.

[2017-01-26 21:04] Syynth commented on #37
@bvaughn I am having an issue where I need to call <instance>.focus() but the focus method is not defined. I am assuming this is because the `ref` prop is special and won't get passed down to the inner `react-select` instance. Instead the instance in your above example (`this._reactSelect`) is actually an instance of the VirtualizedSelect component

Would you be open to a PR to fix this? I know it

[2017-01-28 23:45] bvaughn commented on #37
@Syynth~ `focus` released in 2.3.0

Thanks for contributing!

[2017-01-29 13:20] workboxsoftware opened #42 "Failed during install"
Just got the following errors doing an npm install:

Bobs-mbp13:react-virtualized-select bob$ npm i
npm WARN deprecated graceful-fs@1.2.3: graceful-fs v3.0.0 and before will fail on node releases >= v7.0. Please update to graceful-fs@^4.0.0 as soon as possible. Use 'npm ls graceful-fs' to find it in the tree.
npm WARN deprecated wrench@1.5.8: wrench.js is deprecated! You should check out fs-extra

[2017-01-29 15:45] bvaughn commented on #42
I've seen this error on another machine (and for another project):
[code]

Despite the npm text claiming the problem is likely with react-virtualized-select, I'm fairly confident it is actually with one of its dependencies.

[2017-01-31 01:06] workboxsoftware commented on #42
OK - Thanks.  Your routines worked fine. The problems were in the demo - I think fetching data from github - but I'm not certain.

[2017-01-31 01:06] #42 closed

[2017-02-02 14:25] ambewas opened #43 "optionRenderer overrides react-select optionsRenderer"
The optionRenderer prop that is defined in react-virtualized-select should actually be named menuRenderer --  which is what is the corresponding prop is in react-select.

Right now, if you want to swap out react-select with react-virtualized-select and had already defined a custom optionRenderer in react-select, it's incompatible.

OptionRenderer in react-select only receives an option `{value: 1,

[2017-02-02 17:25] bvaughn commented on #43
I'm curious why you would think this? The 2 props are concerned with different things.

I introduced the `menuRenderer` prop to react-select as a way for react-virtualized to be plugged into drop-down. That prop renders the entire set of select options. react-virtualized-select plugs react-virtualized in with this prop in order to only render the visible options.

The `optionRenderer` prop in reac

[2017-02-02 17:25] #43 closed

[2017-02-03 13:58] ambewas commented on #43
They are, which is why I was confused wen I got different arguments in the same optionRenderer when I swapped out react-select with react-virtualized. In the latter I got all the options available in the menuRenderer in react-select.

Thanks for the reply though!

[2017-02-03 17:46] bvaughn commented on #43
Ah, I understand. 😄 No problem.

[2017-02-07 02:27] GenoD opened #44 "OptionComponent"
I'm having trouble with using a custom component for rendering. Using react-select I was passing a react component to filterOptions. However, with react-virtualized-select it seems it is not being used.

My current implementation is as follows:

[code]

Is this feature from the original library not supported?

[2017-02-07 23:28] bvaughn commented on #44
Yes, this is supported. You can see an example of it [here](https://github.com/bvaughn/react-select-fast-filter-options/blob/1d0da7dc9988829fd0b738af68a51deb16ed37e1/source/demo/Application.js#L55-L60). Not sure why your example isn't working, other than perhaps the `input` object you're spreading contains a `filterOptions` that's overriding the function you're passing.

[2017-02-07 23:29] bvaughn commented on #44
Going to close this as I'm fairly confident it isn't a react-virtualized-select issue. You may consider posting an example of your widget (using Plnkr or similar) on StackOverflow or Reddit. 😄

[2017-02-07 23:29] #44 closed

[2017-02-08 00:34] GenoD commented on #44
Hi @bvaughn I apologize. I meant to say that using react-select I was passing a react component to "optionComponent" and not "filterOptions".

Using optionComponent={InventoryOption} in react-select works fine. But replacing the tabs with VirtualizedSelect loses the customer rendering.

I have updated the question

[2017-02-08 00:43] bvaughn commented on #44
Ah, I see.

No, `optionComponent` is not a supported option for react-virtualized-select. `optionRenderer` must be used instead. 😄

[2017-02-08 02:14] GenoD commented on #44
@bvaughn awesome. With a little more reading and examples for reference I was able to get things up and going! Thanks for the quick replies!

[2017-02-08 06:03] bvaughn commented on #44
No problem. I am glad to hear it.

[2017-02-10 08:28] ehartford opened #45 "typescript types"
I tried "npm install --save-dev @types/react-virtualized-select" and there is none

[2017-02-10 16:49] bvaughn commented on #45
None of my OSS projects use TypeScript. If you would like to see types added- feel free to submit a PR 😄

I don't plan to personally take any action on this issue though so I'm going to close it. I'll be happy to review a PR though as long as the process of publishing and updating types is automated and hooked into the process of building and releasing this lib!

[2017-02-10 16:49] #45 closed

[2017-02-21 04:59] bvaughn commented on #34
This has since been fixed 😄

[2017-02-21 04:59] #34 closed

[2017-03-13 09:55] max-mykhailenko opened #47 "Uncaught TypeError: selectValue is not a function"
I have this error when try to select option in dropdown. Configuration:

[code]

[2017-03-13 17:00] bvaughn commented on #47
Check out the docs: https://github.com/bvaughn/react-virtualized-select/blob/master/README.md

selectValue is a required prop.

[2017-03-13 17:00] #47 closed

[2017-03-14 06:52] max-mykhailenko commented on #47
Do you mean
`onChange={(selectValue) => this.setState({ selectValue })}` or
`selectValue	PropTypes.func`?

[2017-03-14 06:54] max-mykhailenko commented on #47
Because `selectValue PropTypes.func` situated in `Custom Option Renderer` which mark it as custom property.

[2017-03-14 14:31] bvaughn commented on #47
Hey @max-mykhailenko

I apologize. I was at a conference yesterday. It was pretty distracting. I misunderstand your question and my answer was quick and sloppy.

`selectValue` is one of the named parameters passed to the react-select `renderMenu` property (see [here](https://github.com/JedWatson/react-select/#effeciently-rendering-large-lists-with-windowing)). It gets passed [from react-select](ht

[2017-03-15 14:48] mtrekker opened #48 "IE 11 issues"
IE11 is not compatible.

Launch IE, go to http://bvaughn.github.io/react-virtualized-select

I get the following error:

Minified React error #39; visit http://facebook.github.io/react/docs/error-decoder.html?invariant=39&args[]=%20This%20may%20be%20caused%20by%20unintentionally%20loading%20two%20independent%20copies%20of%20React. for the full message or use the non-minified dev environment for fu

[2017-03-17 10:00] max-mykhailenko commented on #47
Updating to the latest react-select solved my problem. Thanks!
Working combination:
[code]

[2017-03-17 14:18] tomaswitek opened #49 "onSelect method is undefined when old react-select installed"
Hi, there seems to be a dependency problem with `react-select `.
I had a quite old version of react-select `1.0.0-beta14` and after I installed this module, I got an exception where `onSelect` method is undefined. When I updated, everything worked again.

[2017-03-18 17:53] bvaughn commented on #49
Hey good find. Thanks :)

[2017-03-18 17:53] #49 closed

[2017-03-18 18:15] bvaughn commented on #48
Should be resolved now. Just needed to polyfill a few things (eg symbol, promise) for IE.

[2017-03-18 18:15] #48 closed

[2017-03-29 11:36] konstantingassmann opened #51 "Problem with IE11"
Hi,
I've encountered a problems with the component in IE11.
When updating another field of my form, i get multiple errors in the Console which says:
`"Unable to get property 'getHostNode' of undefined or null reference"`

![ie11-problem](https://cloud.githubusercontent.com/assets/5058316/24452552/1d6bc468-1484-11e7-851c-d4a0330f9e56.png)

If it helps, here are the versions of the things i'm runnin

[2017-03-29 14:38] bvaughn commented on #51
If the errors happen after you update another field, what makes you assume they're caused by react-virtualized-select?

Without any more information than is provided here in this issue, I really can't help. 😄

[2017-03-29 14:40] bvaughn commented on #51
Neither react-virtualized-select nor the libraries it sits on top of (react-select and react-virtualized) have any references to `getHostNode`. I assume this is actually an issue elsewhere in your app.

Going to close it for now. We can keep talking though. If you have more info that makes it seem likely this is an RVS bug I'll reopen! 😄

[2017-03-29 14:40] #51 closed

[2017-03-29 14:48] konstantingassmann commented on #51
I assumed it's a problem with react-virtualized-select because after removing the component from the form everything worked as expected.

Turns out that it was a problem with filterOptions callback, where a polyfill was missing.

Thanks! and sorry for the trouble 😄

[2017-04-17 08:59] AchinthaReemal opened #52 "Getting all option values when selecting an option"
Is there a way to get the object value of a selection when we provide the options in the following manner.

[code]

and after adding an onChange like below,

`onChange={ (selection) => { console.log('Selection:  ', selection) }`

I would only get the label value of the selection, not the entire option which was selected.

[2017-04-17 19:48] bvaughn commented on #52
Hey @AchinthaReemal.

`VirtualizedSelect` [passes the entire option to `selectValue `](https://github.com/bvaughn/react-virtualized-select/blob/60c934dccc279db717d2df45184b0bdff4e15a20/source/VirtualizedSelect/VirtualizedSelect.js#L171) which seems to also [pass it on (in full) to the `onChange` prop](https://github.com/JedWatson/react-select/blob/881873c10fc91aea9b0982c188a12360ebdd349c/src/Selec

[2017-04-17 19:48] #52 closed

[2017-04-19 16:25] richardgiddings opened #53 "Continuous loading"
Hi,

I am trying to use react-virtualized-select for a list of around 6000 items but in the browser all I am getting is "Loading..." in the select box and the loading icon.

![screen shot 2017-04-19 at 17 05 44](https://cloud.githubusercontent.com/assets/17292519/25190150/419ce646-2523-11e7-946a-d9f733ff85c2.png)

There are no problems in Chrome's dev console apart from deprecation warnings for Pr

[2017-04-19 18:05] richardgiddings commented on #53
Apologies, it was a stupid mistake not returning the call to axios (in case it helps anyone else).

[2017-04-19 18:05] #53 closed

[2017-04-19 18:06] bvaughn commented on #53
Thanks for the update 😄  Hadn't gotten a chance to look yet. Glad you figured it out!

[2017-04-24 11:23] armed opened #55 "VirtualizedSelect is undefined"
Hi, thanks for Virtualized and VirtualizedSelect. Great libs!

I wasn't able to use VS as UMD, by including it in browser:
[code]

What I'm missing?

[2017-04-24 16:41] bvaughn commented on #55
Looks like the UMD build is broken. I guess it's so infrequently used that no one had noticed until now.

You can patch-fix it temporarily like so:
[code]

I'll try to put out a new release at some point when I find time. If you beat me to it though I'll happily review a PR.

[2017-04-25 03:03] #55 closed

[2017-04-25 03:04] bvaughn commented on #55
Thanks for the PR!

[2017-04-25 03:07] bvaughn commented on #55
Published as [2.4.1](https://github.com/bvaughn/react-virtualized-select/blob/master/CHANGELOG.md#241)

[2017-04-25 03:08] armed commented on #55
Hey, Brian

Thanks!
On Tue, Apr 25, 2017 at 9:07 AM Brian Vaughn <notifications@github.com>
wrote:

[2017-04-26 11:49] the-spyke opened #57 "#56 broke my app"
I've used `VirtualizedSelect` like so:

[code]

With update to 2.4.1 my app crashes because the import returns `undefined` and I need to remove the `.default`.

[2017-04-26 13:50] bradbirnbaum opened #58 "Using an old version of react-virtualized"
Can you please upgrade to 9.x?   Being locked to 8.x is causing my project to include `react-virtualized` twice since we are using 9.7.3.

[2017-04-26 15:35] bvaughn commented on #57
Sorry. Sounds like an unintended side effect of PR #56.

[2017-04-26 16:00] bvaughn commented on #57
FWIW I tested with the `import` syntax (as shown on the docs) and the UMD syntax. I'm sorry for not testing with `require` as you mention.

Added a backwards-compat fix as version 2.4.2

[2017-04-26 16:00] #57 closed

[2017-04-26 16:31] bvaughn commented on #58
Just released v3. No changes at all except for dependencies. Enjoy.

In the future, please feel free to submit PRs for this sort of thing. I'm happy to review them.

[2017-04-26 16:31] #58 closed

[2017-04-26 17:15] bradbirnbaum commented on #58
Awesome - thanks so much

[2017-04-26 17:17] bvaughn commented on #58
No problem. Had been meaning to get around to this.

[2017-04-26 17:34] the-spyke commented on #57
@bvaughn Thank you!

[2017-04-27 14:44] mbrevda commented on #57
I just updated and am getting the following error: `Cannot assign to read only property 'exports' of object`

<img width="838" alt="screen shot 2017-04-27 at 5 43 56 pm" src="https://cloud.githubusercontent.com/assets/293004/25488958/1f03821c-2b71-11e7-859d-4b0b4475e9b9.png">

Any ideas?

[2017-04-27 14:54] bvaughn commented on #57
Rats ☹️

Not off the top. Seems like PR #56 has caused more trouble than it solved. Maybe the best approach at this point is to revert that and try to fix the UMD bundle some other way.

Happy to accept any PRs for this if you can get to it before I find time.

[2017-04-27 14:55] mbrevda commented on #57
Should I just revert for now?

[2017-04-27 15:06] bvaughn commented on #57
That will "break" the UMD build. Although I guess that's better than this.

I'd prefer a _fix_ but a revert would also be ok I guess...

[2017-05-10 05:51] mking opened #60 "mouse <> keyboard highlight conflict"
Steps to reproduce
1. go to https://bvaughn.github.io/react-virtualized-select/
1. open the first select
1. hover an option in the middle
1. hold down the down arrow key until you have navigated beyond the first page
1. release the down arrow key
1. actual behavior: the highlight jumps to the cell under the mouse
1. expected behavior: the highlight remains on the cell selected via keyboard (if the

[2017-05-10 14:59] bvaughn commented on #60
It's not clear at a glance whether this is a bug here or in react-select. Either way, it seems minor enough that I probably won't fix it in the foreseeable future. If you'd like to a contribute a fix though, please do! 😄

[2017-05-16 19:12] leojh commented on #22
In case it helps anyone, props are passed to `Creatable` by assigning them to `VirtualizedSelect`

[2017-06-06 21:46] seansfkelley opened #62 "Provide default option container component to consumers"
The `optionRenderer` option is a very flexible extensibility point, but it's tedious to use if you want to do something simple like e.g. wrap the content in a `span` or just add another classname to some options: you end up having to reimplement [`_optionRenderer`](https://github.com/bvaughn/react-virtualized-select/blob/master/source/VirtualizedSelect/VirtualizedSelect.js#L154..L187) if you want

[2017-06-06 21:49] bvaughn commented on #62
You could put a React element in `option.label`. The only thing `labelKey` is used for is to grab a child to put in the rendered option. That child is usually a string but it doesn't _have_ to be.

[2017-06-06 22:06] seansfkelley commented on #62
Hm, interesting, didn't think of that. It works for most cases, but not if I want to (for example) add a class name to the default component.

[2017-06-06 22:10] bvaughn commented on #62
If you'd like to create a PR that does this (in a 100% backwards compatible way) I'll be happy to review it.

[2017-06-21 07:47] bebbi opened #63 "onBlur handler with current value?"
Is there a way to get the current value in an onBlur handler?

If I do it, it receives an event from an input field target that seems to be the displayed input but its value is an empty string.

[2017-06-21 13:38] bvaughn commented on #63
Hi @bebbi,

This sounds like a question that would be better asked on Stack Overflow. Although if you _were_ filing an issue like this, it would need to be filed against react-select rather than this library. This is just a lightweight adapter between react-virtualized and react-select. 😄

Cheers~

[2017-06-21 13:38] #63 closed

[2017-06-23 00:25] turnerniles opened #65 "react-virtualized-select gitter 404s / no longer active"
Hi @bvaughn, the react-virtualized-select gitter [link](https://gitter.im/bvaughn/react-virtualized-select) in the [CONTRIBUTING.md](https://github.com/bvaughn/react-virtualized-select/blob/master/CONTRIBUTING.md) 404s. Perhaps the file should point to the react-virtualized Slack channel?

[2017-06-23 02:39] bvaughn commented on #65
This channel never had a Gitter. I probably just accidentally copied that file when setting up the repo. To be honest, I don't think this project requires a support channel. It's tiny. Questions should almost always be directed to react-select or sometimes react-virtualized. 😄 Sorry for the confusion!

[2017-06-23 02:40] bvaughn commented on #65
Removed reference to Gitter in fbdb83f

[2017-06-23 02:40] #65 closed

[2017-06-23 04:41] turnerniles commented on #65
Ok cool, agreed.

[2017-06-28 05:58] newswim commented on #2
I wonder if something like this might be a good alternative?

https://www.npmjs.com/package/react-resize-aware

[2017-07-05 08:08] borNfreee opened #66 "Typings error with Typescript 2.4.1"
Not sure this is a right repository to post this issue, but there is an error in Typings when Typescript 2.4.1 is used:

[code]

Versions:

`@types/react-virtualized-select-3.0.1`
`react-virtualized-select-3.0.1`
`react-virtualized-9.8.0`

[code]

[2017-07-05 15:49] bvaughn commented on #66
I think you should file this against [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped) since [`VirtualizedSelectProps `](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react-virtualized-select/index.d.ts) comes from there. 😄  I don't have anything to do with that effort.

[2017-07-05 15:49] #66 closed

[2017-07-07 20:52] kennethbigler opened #68 "change select default display text"
Default text is always "Select..."

Can we get this to be customizable? As a prop maybe?

[2017-07-07 20:53] bvaughn commented on #68
I believe you're actually looking for the [`placeholder` prop](https://github.com/JedWatson/react-select/blob/6c0ee59ec82d4f25987571ac175cec7846c2d7d1/src/Select.js#L1148) of `react-select` 😄

[2017-07-07 20:53] #68 closed

[2017-07-07 20:54] bvaughn commented on #68
To be clear, `react-virtualized-select` [passes through all props](https://github.com/bvaughn/react-virtualized-select/blob/35e950b1f7036c1d7865b8132a152f667db20ad9/source/VirtualizedSelect/VirtualizedSelect.js#L55) to `react-select`, including `placeholder` 😄

[2017-07-07 20:57] kennethbigler commented on #68
Thank you! Sorry I did not see that anywhere in the documentation but it is very clear in the implementation.

[2017-07-07 20:58] bvaughn commented on #68
No worries 😄  You're not the first to be thrown by the relationship between the 2 libs

[2017-07-11 17:54] jharwig opened #69 "UMD distribution warns isMounted is deprecated"
[code]

virtualized-select depends on `react-select@^1.0.0-rc.2`, which depends on `react-input-autosize@^1.1.0`. The warning is fixed in version `1.1.3` of React-Input-Autosize.

I cloned the repo and ran a clean build using the `3.0.1` tag (should that be `3.1.0`?) and the build was okay so something must have gone wrong when publishing. Maybe a shrink-wrap or yarn lock file is to blame?

Verifi

[2017-07-11 18:04] bvaughn commented on #62
Closing due to lack of interest 😄

[2017-07-11 18:04] #62 closed

[2017-07-11 18:04] bvaughn commented on #69
The range `^1.0.0-rc.2` includes `^1.0.0-rc.5` so no version bump (in `package.json`) is necessary. Bumping the version would break compat for anyone using a version below `1.0.0-rc.5` which I don't want to do for something that isn't an error.

All that should be needed is to do a fresh install (to pull in the newer react-select RC) and then rebuild the UMD version. I'll get to it at some point.

[2017-07-19 17:37] Subha opened #70 "Disabled and Default Value"
I am not sure if i missed this in the documentation. Is there a property to disable the select box? How do we pass the default value to the component?

Thank you

[2017-07-19 17:51] bvaughn commented on #70
These are questions for [react-select](https://github.com/JedWatson/react-select) 😄  Check out its docs.

[2017-07-19 17:51] #70 closed

[2017-07-20 00:44] NathanBWaters commented on #20
@bvaughn just saying I would totally use a higher order component that combines `react-virtualized-select` and `js-worker-search` because currently `createFilterOptions from` 'react-select-fast-filter-options' makes the main thread hang.

[2017-07-20 01:06] bvaughn commented on #20
`js-worker-search` is fast because it offloads work to a service worker. But since `postMessage ` is async, then everything- including searches- is async. `react-select` doesn't support an async `filterOptions` prop unfortunately so...dead end.

If `react-select` supported an async `filterOptions` it would be an easy thing to connect the 2.

[2017-07-20 18:22] NathanBWaters commented on #20
Thanks for the response!  If my team is down for the time it takes, it sounds like a PR on my part is in order.

[2017-07-20 19:06] bvaughn commented on #20
If you go this route, keep me posted and feel free to CC me on the `react-select` end. I help maintain that project, although I rarely have the time to any more. I'd try to make an exception for something like this though. 😄

[2017-07-28 01:59] turnerniles opened #71 "Dropdown opens after clear after reselecting menu"
It seems react-virtualized-select opens the menu on clear after selecting an option then reselecting the menu, and then off click before clearing. In comparison react-select does not behave this way. See GIFs below. Do you think this is a react-virtualized-select or react-select bug?

We are experiencing a similar bug where the react-virtualized-select dropdown opens on clear without doing the bel

[2017-07-28 15:02] bvaughn commented on #71
Hm. I'm not seeing the behavior you show for react-virtualized-select:
![no-repro](https://user-images.githubusercontent.com/29597/28723234-0402e7fe-736b-11e7-97f9-08ff737fc4a8.gif)

I'd be happy to review a PR from you if you look into this though 😄  Unfortunately I don't have time to look because I'm swamped with work stuff.

[2017-07-28 16:24] turnerniles commented on #71
@bvaughn You didn't re-select the menu after selecting an option before clearing if that makes sense. It may be an edge case but I will take a deeper look.

[2017-07-28 23:44] turnerniles commented on #71
@bvaughn To clarify the issue.

1. You select an option.
2. You click outside the dropdown so it is not focused.
3. Then you click clear
4. The option menu renders and pops open

If an option is selected and the dropdown is not focused and then you click clear, the menu will render.
If an option is selected and the dropdown is focused and then you click clear, the menu does not render.

In react-s

[2017-07-28 23:48] bvaughn commented on #71
Makes sense 😄 Let me know what you find

[2017-07-31 05:16] turnerniles commented on #71
Hi @bvaughn, it seems like it is an issue in the custom menuRenderer react-select code. Looks like @tosho-ait had the same issue [here](https://github.com/JedWatson/react-select/issues/1348). If you would like we can close this issue and I will open an issue on react-select.

Some how [this._openAfterFocus](https://github.com/JedWatson/react-select/blob/master/src/Select.js#L313) gets set to true

[2017-07-31 06:06] bvaughn commented on #71
Thanks for the update. Let's close this issue then and open one for
react-select. Cheers!

On Jul 30, 2017 10:16 PM, "Niles Turner" <notifications@github.com> wrote:

[2017-07-31 13:48] turnerniles commented on #71
@bvaughn, thanks, I've posted the issue on the react-select repo here: [#1901](https://github.com/JedWatson/react-select/issues/1901)

[2017-07-31 13:48] #71 closed

[2017-08-01 04:22] turnerniles commented on #71
@agirton's new PR #1902 fixes this issue.

[2017-08-09 19:33] steveareeno opened #72 "Key/value"
Is there a way to specify, in the control, what will be the key and value names when mapping the options? The control looks like it expects value/label. I have a json object that is Id/Name.

Thanks.

[2017-08-09 19:40] steveareeno commented on #72
I think I might have found it in your example. It looks like I should use the following in the component:

[code]

[2017-08-09 19:52] bvaughn commented on #72
Yup. 😄

[2017-08-09 19:52] #72 closed

[2017-08-23 14:05] stevensgill opened #73 "Can't find UMD version"
Where do I find the UMD distribution? I don't see it anywhere in this repo.

[2017-08-23 14:29] bvaughn commented on #73
In NPM: https://unpkg.com/react-virtualized@9.9.0/dist/umd/

[2017-08-23 14:29] #73 closed

[2017-08-23 14:30] bvaughn commented on #73
That being said, I believe there's an issue with it at the moment (as reported by #69

[2017-09-20 02:52] cephirothdy2j opened #75 "Cannot scroll the list of options"
Scrolling using the mouse / track pad is creating a weird rubber-band effect, where the list never goes far without snapping back to the top of the list of options. Note that the component behaves expectedly when using the arrow keys to navigate up and down the list of options.

![virtualized-scrolling-issues](https://user-images.githubusercontent.com/881769/30624677-d058267a-9d8c-11e7-8cf3-a4502f

[2017-09-20 08:47] seanpavlov opened #76 "Not compatible with react-virtualized@9.10.1"
I was trying react-virtualized-select, but didn't get it to work at first.
Here are the versions of the packages I used at first:
**react-select**@1.0.0-rc.10
**react-virtualized-select**@3.1.0
**react-virtualized**@9.10.1

The result is the following:
**Safari**
![ezgif-3-04b7da2403-2](https://user-images.githubusercontent.com/1535966/30634354-1e1cbb02-9def-11e7-9a9b-dffdece86629.gif)

**Chrome**

[2017-09-20 10:50] seanpavlov commented on #75
I missed your issue when I created mine, but it's basically the same issue.
My solution was to use version 9.0.0 of react-virtualized instead of 9.10.1 and also copied VirtualizedSelect.js from this repo into my project. Does that work for you as well?

[2017-09-20 15:06] bvaughn commented on #76
Closing as a duplicate of #75. Let's talk there.

[2017-09-20 15:06] #76 closed

[2017-09-20 15:07] bvaughn commented on #75
@seanpavlov You downgraded from 9.10 to 9.0? I'm curious if you tried 9.9.

At a glance this issue looks related to a 9.10 regression, bvaughn/react-virtualized/issues/816

[2017-09-20 17:42] austin94 commented on #75
@bvaughn I was able to locally build the documentation on `v9.9.0 c828cf2ab0cf35ff2cc7462af02c5269e352df1c` and the ArrowKeyStepper demo page is scrolling correctly.

[2017-09-20 17:44] bvaughn commented on #75
Thanks for confirming this was a regression in 9.10.

My guess is bvaughn/react-virtualized/pull/798

[2017-09-20 21:32] cephirothdy2j commented on #75
I too can confirm that downgrading to `react-virtualized@9.9.0` solves the issue. Thanks for pointing us in the right direction.

I'll look at that PR and see if I can get to the bottom of the issue. If I'm successful, would you be putting out a patch release quickly?

[2017-09-20 21:45] bvaughn commented on #75
Yeah

On Sep 20, 2017 2:32 PM, "Dylan Schuster" <notifications@github.com> wrote:

[2017-09-21 19:11] sdemjanenko commented on #75
If you are using yarn v1 you can add this to your package.json:

[code]
And that will lock the sub-dependency to a version that works with react-virtualized-select.

[2017-09-23 21:51] martinmenneske commented on #75
I can't get this to work even with downgrading to 9.9.0. Do I need to install a specific version of react-virtualized-select as well? I tried downgrading it to 3.0.1, but no luck.

[2017-09-26 00:28] istarkov commented on #75
@bvaughn It was introduced somewhere inbetween 14 -23 july
All react-virtualized builds after 23 July has this bug.

[2017-09-27 13:56] Subha opened #77 "Creatable - Long text"
Thanks for this multiple components(multi select, single select and Creatable) combined into one selectBox.
I have couple of issues/questions using Creatable :

1. when entering long text the width of the input box keeps growing is there a way to control this?
2. Ellipses are displayed on the field for long text but not able to place cursor pointer at the end.
Not able to edit it also. To enter va

[2017-09-28 15:19] bvaughn commented on #77
Hey @Subha.

I think you meant to file this issue against [JedWatson/react-select](https://github.com/JedWatson/react-select). 😄

[2017-09-28 15:19] #77 closed

[2017-10-05 12:22] mcampagonzalez opened #78 "Disable an specific option"
Disabling an specific option does not work following the react-select approach. Is there any tweak necessary for this to work? Thanks in advance :)

[2017-10-09 11:45] #78 closed

[2017-10-09 15:23] bvaughn commented on #78
I'm guessing you found a solution to this before I had a chance to respond. :smile:

But for others that might find this question, you'd use `option.disabled` in your custom renderer. react-virtualized-select provides a default option renderer that already [checks this attribute](https://github.com/bvaughn/react-virtualized-select/blob/e012b456d8fab42dc527fe9dcb57f77dc3ff773e/source/VirtualizedSel

[2017-10-14 18:45] bvaughn commented on #75
This has been fixed by react-virtualized 9.11.0 release that I am publishing presently. Sorry for the inconvenience!

[2017-10-14 18:45] #75 closed

[2017-10-14 19:56] istarkov commented on #75
Seems like not fully fixed, become better - now there are no rendering issues, but scroll still jumping. I'll investigate it later.

[2017-10-16 03:45] kimcrab opened #81 "Force VirtualizedSelect to load options after onChange."
Hi there, I have a problem with showing options after I select value.

Even after I select some option on the list through auto complete, It does not entered into the input filed because selected value does not exists on the option list. I guess this is happening because the number of options are limited.

Let's say I want to select 'zebra' so I searched 'ze' and 'zebra' is on the list because any

[2017-10-16 03:55] kimcrab commented on #81
`<VirtualizedSelect
      {...(!(option.param && option.param.parent) ? {} : { cache: false })}
      searchable={false}
      ignoreCase={true}
      placeholder={option.creatable ? msg.typeOrSelect : msg.select}
      selectComponent={
        option.creatable
          ? option.async ? AsyncCreatable : Creatable
          : option.async ? Select.Async : Select
      }
      loadOptions={loadOpt

[2017-10-16 03:56] bvaughn commented on #81
I think maybe you should ask this question on the [`react-select`](https://github.com/JedWatson/react-select) repo.

`react-virtualized-select` is a tiny wrapper around react-select that plugs [`react-virtualized`](https://github.com/bvaughn/react-virtualized/) into the options display so it can perform better. The source for it is actually [very small](https://github.com/bvaughn/react-virtualized

[2017-10-16 03:56] #81 closed

[2017-10-17 20:55] lothisoft commented on #75
Shouldn't this issue be re-opened?

[2017-10-17 21:21] bvaughn commented on #75
Nope. The issue originally reported was a transient bug in a specific release of react-virtualized that was fixed by the subsequent release. I'm not sure what the "scroll jumping" comment refers to, but it's not the original issue.

So far as I see on [the demo page](https://bvaughn.github.io/react-virtualized-select/), scrolling works fine.

[2017-10-17 21:33] istarkov commented on #75
Seems like the problem that fix here https://github.com/bvaughn/react-virtualized/pull/825/files
had not fixed all the occurrence of same check as before `typeof prevProps.rowHeight === "number" ? prevProps.rowHeight : null,`
And in all other situations if you have a rowHeight as a function
like here https://github.com/bvaughn/react-virtualized/blob/master/source/Grid/Grid.js#L834 and in other pla

[2017-10-17 21:34] istarkov commented on #75
So I think it is the same issue as current.

[2017-10-17 21:41] bvaughn commented on #75
Those 2 places you linked point to different helper methods, so the fact that the code being passed in look similar doesn't necessary indicate that there's any problem.

Regardless, the broken behavior reported against _this_ project originally in this issue is no longer occurring. So far as I see, no broken behavior is occurring.

If I'm wrong though, please open a new issue with repro steps. 😄

[2017-10-17 22:34] istarkov commented on #75
For anyone who has the same problem with releases after 9.9.0 and have more time, occasional jumps ocured at this line https://github.com/bvaughn/react-virtualized/blob/master/source/Grid/Grid.js#L1364 sometimes (very rare) for unknown reasons `_getCalculatedScrollTop` returns small values at scrolling.

[2017-10-18 22:41] Apercu opened #82 "react-select and react-virtualized as peerDeps"
Hey, just wanted to open the discussion regarding the fact that maybe react-select and react-virtualized should be peerDeps rather than fixed dependencies, allowing people to use their own versions?

There will be more installation hassle and some incompatibility issues but we can deal with those using specific ranges, still it allows to be more flexible.

For people interested, I've forked and pu

[2017-10-18 22:47] bvaughn commented on #82
If you're using Yarn, people can always choose their own versions of the dependencies via a `resolutions` map in the `package.json`. If you're using NPM you should just be able to directly `npm install component@version --save` I think. Is this not true?

[2017-10-18 23:01] Apercu commented on #82
That's a solution I guess, thanks ;)

[2017-10-18 23:01] #82 closed

[2017-10-18 23:09] bvaughn commented on #82
No problem! And I appreciate the proposal/discussion!

I'd like to make installation painful for the fewest number of people, and support the most common use-cases. I _think_ the current approach does that but...I might be wrong and I'm open to changing my mind 😄

[2017-10-23 21:48] ConAntonakos opened #83 "How to dynamically import?"
@bvaughn Thanks for this awesome library extending `react-select`. I'm having some issues trying to understand and utilize this in a dynamic way using webpack.

When I try to `await import('react-virtualized-select')`, I notice an object is returned with `{ default: function..., __esModules: true }`. What's the best way to proceed? Sorry, I'm a novice when it comes to understanding how dynamic imp

[2017-10-24 16:28] bvaughn commented on #83
I don't really know much about the `await import` syntax, but I don't think your question is specific to this library. `react-virtualized-select` is exported as the default, meaning that you'd normally import it like so:

[code]

Looks like the dynamic import is returning a module object with a `default` property that you'll need to access it at instead, so:
[code]

This is just my guess ^ I haven

[2017-10-24 16:28] #83 closed

[2017-10-24 16:37] ConAntonakos commented on #83
Thanks for your response, @bvaughn.

I definitely tried doing what you displayed in the next two-line example, but still couldn't get it to work. The `default` property returns a named function called VirtualizedSelect, and I couldn't instantiate that as a React.Element.

Anyway, I'll keep playing around, but wasn't sure if it was something that needs to change in the way it's being exported. And

[2017-10-24 16:51] bvaughn commented on #83
What do you mean by this? What did you try doing and what error message did you receive?

[2017-10-30 20:30] CalvinChhour opened #84 "Option's text overlaps with Creatable Option"
I have a `VirtualizedSelect` that takes up approximately 180 pixels width wise. When the options within line wrap or are too long, the text can be seen overlapping each other like so:
![React-Virtualized-Select Example](https://i.imgur.com/MfBPbw0.png)
Whereas when I use `react-select` I get properly sized option boxes:
![React-Select Example](https://i.imgur.com/L8oWTnS.png)

I know that `optionH

[2017-10-30 21:49] bvaughn commented on #84
This is working as designed.

`react-virtualized-select` is built on top of the [`react-virtualized`](https://github.com/bvaughn/react-virtualized) library in order to perform faster with large result sets. In order for this library to work, it relies on absolute positions- and so it doesn't use normal block or flexbox layout like `react-select` does.

This is why the [docs](https://github.com/bva

[2017-10-30 21:49] #84 closed

[2017-10-31 15:31] CalvinChhour commented on #84
Got it, thanks for the prompt response! :smile:

[2017-11-20 13:24] ShockiTV opened #86 "menu list hover missing pointer: cursor"
no such thing like
[code]

[2017-11-20 13:28] ShockiTV opened #87 "maxHeight not working very well"
I am using 240px;
The inner list height is changed, but react-select's outer one is still on 200px defaults.
So you can move by key and select option which is not in viewbox.

So i have to add some overrides anyway, using CSS modules
[code]

[2017-11-20 15:28] bvaughn commented on #86
I don't think it needs a cursor pointer by default. If you want one for your application, you can add it using the CSS you've provided above. 😄

[2017-11-20 15:33] bvaughn commented on #87
Hm. That's unfortunate.

The `List` component of [`react-virtualized`](https://github.com/bvaughn/react-virtualized) requires a `height` property. That's what the `maxHeight` property [here](https://github.com/bvaughn/react-virtualized-select/blob/master/source/VirtualizedSelect/VirtualizedSelect.js#L116-L132) is used for.

It would be nice if it also allowed you to grow the default height of [rea

[2017-11-20 15:35] ShockiTV commented on #86
Just wanted same behaviour to standard react-select.
OK

[2017-11-20 15:36] bvaughn commented on #86
Ah, I see. I didn't realize `react-select` had that behavior by default. Hmm 🤔  I guess it's reasonable to copy that behavior here too then.

[2017-11-21 17:52] bvaughn commented on #86
Shoot me a PR if you'd liek to add this 😄

[2017-11-27 08:32] UtillYou opened #89 "seems incompatible with React 16"
When using in React 16, I got an error:

`invariant.js:42 Uncaught Error: Element ref was specified as a string (value0) but no owner was set. You may have multiple copies of React loaded. (details: https://fb.me/react-refs-must-have-owner).`

After some googles, I think this is mainly caused by that this package requires React 15, besides this package used 'ref'. Can we update the version?

[2017-11-27 16:10] bvaughn commented on #89
`react-virtualized-select` doesn't require `react` as a dependency, but rather as a [peer dependency](https://github.com/bvaughn/react-virtualized-select/blob/9defd7a198742fa5288fa80f471d409c28401c09/package.json#L127-L130). So whatever's installing the 2nd copy of `react` is in your application code or another module.

If you're using Yarn, you can find out which package(s) require `react` by run

[2017-11-27 16:10] #89 closed

[2017-11-28 01:09] UtillYou commented on #89
Yes, `react-virtualized-select` does not relies on `react`, but it relies on `react-select`. However, `react-select` depends on `react` 15. Maybe I should raise an issue to `react-select`.
Thanks anyway!

[2017-12-05 02:13] wangtao0101 opened #90 "commonjs and es version with react-virtualized"
react-virtualized and react-virtualized-select both have commonjs version and es version , but es version of react-virtualized-select directly use commonjs version of react-virtualized like below:
[code]
I think you should use match version for react-virtualized and react-virtualized-select.
I caused my bundle have two version of react-virtualized because i use react-virtualized in my code.

[2017-12-11 22:16] Subha opened #91 "OnBlur not firing."
I am not able to recreate the issue in the demo page.
http://bvaughn.github.io/react-virtualized-select/.

I have a similar issue in my project and was able to recreate the issue when i cloned this repo today.

Steps to recreate:

1. Click the dropdown Arrow.
2. Without selecting any options I selected another dropdown and the dropdowns never got closed.

I have attached a snapshot of my issue.

E

[2017-12-11 22:26] bvaughn commented on #91
Seems pretty likely that this issue should actually be filed against [react-select](https://github.com/JedWatson/react-select) 😄  This project just renders the drop-down list. The open/close state (and most everything else) is managed by react-select.

Cheers!

[2017-12-11 22:26] #91 closed

[2017-12-11 22:32] Subha commented on #91
Thank you. Looks like they updated to a new version and that is causing this issue

[2017-12-15 10:31] sugarshin opened #92 "Update react-select"
Hi,

Please update version of `react-select` , because there are functions that can not be used now.
Latest version is `1.1.0` . Thank you!

[2017-12-15 15:37] bvaughn commented on #92
You can do this yourself. This package specifies [any version after ^.0.0-rc.2](https://github.com/bvaughn/react-virtualized-select/blob/master/package.json#L124). You can update to 1.1.0 in your project.

[2017-12-15 15:37] #92 closed

[2017-12-15 15:37] bvaughn commented on #87
Closing due to inactivity.

[2017-12-15 15:37] #87 closed

[2017-12-19 09:01] alpesh1988 commented on #33
Hey @bvaughn , I am facing this issue in react-virtualized-select library latest version.

I've posted post on stackoverflow https://stackoverflow.com/questions/47881613/creatable-props-not-working-in-react-virtualized-select-component

Can you pls take a look at it and help me if possible ?

Thanks,
Alpesh

[2018-01-03 08:59] julien-f opened #93 "Cannot install dev dependencies"
[code]

Also a lot of dependencies are out of date, it would probably be good to update them 😃

[2018-01-03 17:30] bvaughn commented on #93
This looks like something went wrong with your Yarn installation? I'm not sure what I can do to help with this. [PhantomJS is declared as an explicit dependency.](https://github.com/bvaughn/react-virtualized-select/blob/9defd7a198742fa5288fa80f471d409c28401c09/package.json#L101)

If you'd like to update dev-deps, feel free to submit a PR. Assuming it doesn't break anything, I'd be happy to merge i

[2018-01-03 17:51] julien-f commented on #93
I don't know what to tell you, my Yarn is up-to-date and I just cloned the repo 😕

I don't want to update deps if cannot run the tests.

[2018-01-03 17:54] bvaughn commented on #93
Understandable. 😄

I'm sorry I don't have time to troubleshoot Yarn issues. 🙁  Hope you're able to figure it out.

[2018-01-05 06:04] turnerniles commented on #93
I'm getting a different error which is thrown because of the linter.

[code]

[2018-01-05 06:13] turnerniles commented on #93
@julien-f @bvaughn I'm on node v8.6.0 and it works up until you run `npm run lint` as per above. I put up a PR #94 to fix the issue `/Users/admin/dev/react-virtualized-select/source/demo/data/cities.js:927:2: Extra semicolon.`. Even though there is no extra semi colon...

[2018-01-09 12:29] brajeshchandra2002 opened #95 "Auto select value from option list, when there is only one value in list"
We are facing a problem to auto populate a option when there is only one value in list.

Requirement: in dropdown, a value should be pre-populated or rendered on page load.
Current behavior: on clicking on dropdown  options are clickable and rendered on dropdown.

We are tried to find a suitable configuration in component, but could not found.

Please anyone help us to get this resolved.

Thanks i

[2018-01-09 16:17] bvaughn commented on #95
Hello! 😄

For this type of question, I suggest using a site like Stack Overflow. Issues are reserved for bug reports and feature-requests.

I also suggest linking to a Code Sandbox demo (or similar) that shows _what you've tried_ to give people an easier way to answer your question with specifics (which will be helpful to you).

This helps keep the project somewhat more maintainable for me _and_ h

[2018-01-09 16:17] #95 closed

[2018-01-09 16:18] bvaughn commented on #93
The lint error was expected. Not sure how it snuck in. I had fixed locally and forgot to push. (Thanks for your PR to fix!)

This looks like an env or Node version problem being reported. Given the inability to reproduce it, and the lack of response on this issue after a few days, I'm going to close it. 👍

[2018-01-09 16:18] #93 closed

[2018-01-09 16:20] bvaughn commented on #90
Sorry to hear this.

Your suggestion is reasonable. If you know a way to easily accomplish this, I'd love to see a PR. (I'm not actively working on this library.)

In the meanwhile, even though it's a bit hacky, you could override/map the CJS imports to point at the ES export using your Webpack config (assuming you're using Webpack).

[2018-01-09 17:12] julien-f commented on #93
@turnerniles I meant 9.3.0 😁

[2018-01-11 05:26] turnerniles commented on #93
@julien-f that makes more sense! It works for me with node v9.3.0. Are you able to `yarn install` now?

[2018-01-11 09:06] julien-f commented on #93
Nope, `yarn` fails to install `phantomjs`, but `npm` succeeds.

It also appears that it does not fail if `phantomjs` has been previously installed globally and is available in the PATH (which I believe is the case for all of you).

[2018-01-11 16:23] ConAntonakos commented on #92
Yeah, I solved this by reinstalling the package via `yarn`. Is there a better method to this?

[2018-01-13 03:55] turnerniles commented on #93
@julien-f that is weird. `yarn` / `yarn install` works for me without having phantomjs installed globally when pulling down a fresh copy of the latest. `npm run test` doesn't work but `yarn` / `yarn install` -> `npm run start` to see the demo without error. I'm not sure what the discrepancy could be.

[2018-01-14 16:34] locpd opened #96 "valueKey of custom option render is not available"
I do a console.log(props) and there isn't a valueKey in props passed to custom option renderer (set via optionRenderer). The labelKey is available though.

[2018-01-14 16:52] bvaughn commented on #96
Looks like I forgot to relay that property. Fixed in release 3.1.1.

[2018-01-14 16:52] #96 closed

[2018-01-16 17:42] seanfrisbey opened #97 "Documentation Inconsistency"
In the demo with the country flags, the CountryOptionRenderer takes "key" as a parameter, but "key is not mentioned in the documentation for what's passed into the optionRenderer. Which is correct? If key IS passed, can the documentation be updated to reflect its purpose?

Thanks!

[2018-01-16 18:04] bvaughn commented on #97
Ah. The docs should be updated to mention this attribute. Would you be willing to do this? 😄

[Keys provide important performance hints to React, enabling it to avoid unnecessary re-renders.](https://reactjs.org/docs/lists-and-keys.html)

[2018-01-16 18:11] seanfrisbey commented on #97
Sure thing! Thanks ;)

[2018-01-16 20:37] seanfrisbey commented on #97
I think I submitted the changes...do you have to approve them?

[2018-01-16 21:47] bvaughn commented on #97
Where did you submit them?

You should create a PR to this repo with an update to [this `README.md` file](https://github.com/bvaughn/react-virtualized-select/blob/master/README.md)

[2018-01-16 22:00] seanfrisbey commented on #97
I think it did it properly this time.

[2018-01-16 22:02] bvaughn commented on #97
Yeah I see the PR this time 👍

[2018-01-16 22:02] #97 closed

[2018-01-16 23:35] seanfrisbey commented on #87
Darn, I'm coming across this same issue. Let's check out react-select!

[2018-01-20 12:21] oonsamyi opened #99 "Update dependencies"
`react-virtualized-select` radically dependent on [`react-select`](https://github.com/JedWatson/react-select) library version [1.0.0-rc.2](https://github.com/bvaughn/react-virtualized-select/blob/master/package.json#L124).
But the latest version `react-select` is [1.2.1](https://github.com/JedWatson/react-select/releases/tag/v1.2.1). And already exists [alpha](https://github.com/JedWatson/react-se

[2018-01-20 15:08] bvaughn commented on #99
The last commit to this project was 4 days ago. The last release to NPM was 6 days ago. My response time for this GitHub issue is ~3 hours (it's 7am here). The project is certainly not abandoned.

Your questions about dependency ranges, I think, suggest a small misunderstanding of how dependencies work.

For example, react-select. Your are welcome to install the latest 1.2.1 release. If will work

[2018-01-20 15:08] #99 closed

[2018-01-23 03:30] turnerniles commented on #92
@ConAntonakos Perhaps ```yarn upgrade```?

[2018-01-23 03:47] turnerniles commented on #99
@oonsamyi When you ```yarn``` or ```npm install```, it will install the latest version of react-select and react-virtualized up to but not including the next major version because of the [caret](https://stackoverflow.com/questions/22137778/what-does-mean-in-package-json-versioning) put next to those dependencies in the package.json
[code]

See the versions actually installed in yarn log below.

[c

[2018-01-24 07:47] oonsamyi commented on #99
@bvaughn Thanks for the quick and full answer! I'm sorry, it was my omission. You are right, I set myself a new version using `npm update react-virtualized-select`.
@turnerniles Thank you for the clarification!

[2018-01-31 15:08] finkbg opened #100 "Slow dropdown disappear on select"
With a large dataset (~15,000 items) the dropdown list disappears with a noticeable delay (the search is perfectly fine, though).

Any suggestions?

Here is the config:

[code]

I tracked it down to the onChange option:
[code]
But, of course, it will not be working without it.

The delay is to the order of more than a second (quite noticeable).

Any suggestions appreciated.

Thanks.

[2018-01-31 16:15] bvaughn commented on #100
Since `updateState(element)` is not part of this project, so believe you're saying that you've tracked the slowness down to somewhere in your own application code? In which case, I suggest posting a more complete code example somewhere like Stack Overflow. 😄

[2018-01-31 16:15] #100 closed

[2018-01-31 19:06] finkbg commented on #100
So, following your logic, if I use the code you put in the documentation, all should be fine and dandy:

[2018-01-31 19:12] bvaughn commented on #100
Yes. That works fine in the demo app (source code [here](https://github.com/bvaughn/react-virtualized-select/blob/master/source/VirtualizedSelect/VirtualizedSelect.example.js)) and for other people using `react-virtualized-select`. If I were you, I'd look into what changes your `setState` is triggering to find out where the slowness is.

[2018-02-02 16:27] #86 closed

[2018-02-07 11:42] diegorodriguesvieira opened #103 "How can I use a custom option?"
I need to use a custom option component...

I've tried using the optionRenderer property but it causes bugs in rendering?

![giphy](https://user-images.githubusercontent.com/7308074/35914475-89fa2580-0bea-11e8-83b3-fd1e479c6ee5.gif)

My code:
[code]

[2018-02-07 12:46] #103 closed

[2018-02-07 13:02] diegorodriguesvieira commented on #103
The solution:

[code]

[2018-02-09 18:39] joshbuchea commented on #38
Thanks for referencing the `max-height` value in react-select 🙏 Handy!

[2018-02-12 15:00] ahmadalibaloch opened #104 "Bump react v to 16.x.x"
Update react to latest version please.

[2018-02-12 15:36] bvaughn commented on #104
Install whatever version of `react` you want _in your project_. This package specifies [any version greater than 15.3.0 _or_ 16.0.0-alpha](https://github.com/bvaughn/react-virtualized-select/blob/master/package.json#L124).

Duplicate of #92, #99

[2018-02-12 15:36] #104 closed

[2018-02-13 07:48] ahmadalibaloch commented on #104
I just updated my project to react 16, but  webpack keeps showing unmet peer dependency for this library citing react 15.x :-1:

[2018-02-13 14:10] antoine35 opened #105 "Search is too long [help wanted]"
Hi !

I have a large list of options to display. The component works well but when i want to filter writing in search box, is too long (about 12 seconds to diplay one letter).
My list is composed by 250 000 items.
I can scroll and select item by click, it's juste the search which doesn't work.

If you have an idea ...
Thanks

[2018-02-13 15:32] bvaughn commented on #104
I don't know why it would do that, as the peer dependencies definitely include React 16:
![screen shot 2018-02-13 at 7 31 07 am](https://user-images.githubusercontent.com/29597/36157944-e643ba28-108f-11e8-99cb-8222c3c0c41e.png)

Test it out yourself by typing "react" and "^15.3.0 || ^16.0.0-alpha" into [an online semver checker](https://semver.npmjs.com/).

![screen shot 2018-02-13 at 7 32 09 am](

[2018-02-13 15:37] bvaughn commented on #105
Have you seen this other project of mine?
https://github.com/bvaughn/react-select-fast-filter-options

I think it's exactly what you're looking for. 😉

[2018-02-13 15:37] #105 closed

[2018-02-13 15:45] antoine35 commented on #105
i will look. thanks

[2018-02-20 23:55] andrewmartin opened #106 "Add docs for custom `optionRenderer`?"
Hi there,

Thanks for putting this package together, it works great!

I was wondering what you thought about adding a little more detail to the `optionRenderer` on the README. I ended up figuring it out by digging through [this example file](https://github.com/bvaughn/react-virtualized-select/blob/master/source/VirtualizedSelect/VirtualizedSelect.example.js) (again, thanks!) but thought maybe othe

[2018-02-21 00:09] bvaughn commented on #106
Good suggestion. I'd welcome a PR! 😄

[2018-02-21 00:59] #106 closed

[2018-02-27 18:37] PlayMa256 opened #108 "Custom Scrollbar style"
Hello, first thanks for creating this component which saves us so much time.
I have a doubt, about changing the style of the scrollbar. When using just react-select, i was using the menuRenderer props, to render the scrollbar around the menu, i've tried the same approach but that failed.

[code]

Is there a way to use custom scrollbars around the menu options?

Thanks.

[2018-03-02 08:23] sstubbs opened #109 "Long option data"
Hi,

Thank you for this great component. I have a list with options that are long. I am trying to either allow a horizontal scroll or allow them to wrap to multiple lines. I have been trying with a custom optionRenderer but cannot get it to do what I want.

What would you suggest?

[2018-03-02 10:51] sstubbs commented on #109
by setting overflowX:"visible" in a custom OptionRenderer I do get a scroll per item which is usable but not ideal especially on mobile. Wrapping the words with a dynamic height would be better or even a fixed height with word wrap would still be better than the scroll. I have tried different style combinations to get the word wrap but it just doesn't seem to work.

[2018-03-14 18:33] jakeboone02 commented on #45
Just wanted to note that this library does have typings now:

https://www.npmjs.com/package/@types/react-virtualized-select

[2018-03-15 14:10] lukas-zech-software commented on #103
If anybody else is wondering what solution is hidden in the code above:

One needs to apply the `style` object provided to the returned element

[code]

I stumbled upon this myself because I did not read the documentation properly 😞

@diegorodriguesvieira If your provide solutions, please don't just paste a bunch of code. Add a few words what the actual problem was and what solved it

[2018-03-23 09:45] sideisra opened #110 "Down key navigation doesn't work properly"
I am using react-virtualized-select to render large sets of data just like in https://github.com/JedWatson/react-select/tree/v1.2.1#efficiently-rendering-large-lists-with-windowing but i have a problem with arrow key navgation. The down key works up to a certain element. In my app i can navigate to the 7th element by pressing the down key but then ist starts at the 1st element again although there

[2018-03-23 14:43] bvaughn commented on #110
My guess is this is probably something that needs to be fixed in react-virtualized-select.

[2018-03-23 14:43] bvaughn commented on #110
PRs welcome!

[2018-03-27 05:57] abelkbil opened #111 "How to provide bootstrap validation messages"
[code]

How can i give bootstrap validation messages to  `VirtualizedSelect`
Thank you for consideration.

[2018-03-27 15:03] bvaughn commented on #111
I don't know anything about bootstrap validation messages, but this seems more like a question for react-select. react-virtualized-select [passes most props through to the underlying select component](https://github.com/bvaughn/react-virtualized-select/blob/b561e53623ba8478cada39760ce43aeba05b3696/source/VirtualizedSelect/VirtualizedSelect.js#L55).

[2018-03-27 15:04] bvaughn commented on #110
Thanks for following up!

[2018-03-27 15:05] bvaughn commented on #108
Sorry for missing this.

Custom scrollbars isn't really something I care to support. (Too little time to maintain this project and too few people asking for the feature.) If you'd like to contribute a PR, I'll consider it. 😄

[2018-03-27 15:05] #108 closed

[2018-03-27 15:28] PlayMa256 commented on #108
No problem, i would love to contribute, just need a little bit of guidance on what to really put my hands on.
Would be in [here](https://github.com/bvaughn/react-virtualized-select/blob/master/source/VirtualizedSelect/VirtualizedSelect.js#L64) ?

[2018-03-27 15:30] bvaughn commented on #108
Maybe. Honestly, I'm not sure. You'd probably need to figure out the right props to pass to react-virtualized to customize its scrollbar, and then expose them here somehow.

And just to be completely transparent, if it adds a lot of complexity to this library, I probably won't want to merge it. If there's a simple-ish solution though, I'm open to considering it. 😄

[2018-03-27 15:31] PlayMa256 commented on #108
Oh, sure. I will take a loot as soon as i have some time. This would help a lot of people that needs customization there.

Thank you for your feedback!

[2018-03-27 21:38] ConneXNL opened #112 "Support for React-select 2.0 alpha"
Is there any support planned for React-select 2?

It's currently in alpha 8.

Meanwhile, did any one made a custom implementation?

[2018-03-27 22:11] bvaughn commented on #112
Once react-select 2.0 has been released, if someone submits a PR, I'll be
happy to support it. :)

On Tue, Mar 27, 2018 at 2:38 PM, ConneXNL <notifications@github.com> wrote:

[2018-03-28 10:06] abelkbil commented on #111
@bvaughn Thank you for support. I will keep you posted.

[2018-04-01 03:02] ekoeryanto opened #113 "Fiddle"
Hello, any working jsFiddle or JsBin out there ?

[2018-04-01 16:12] bvaughn commented on #113
Right on the main README is a link to a Code Sandbox demo.

[2018-04-01 16:12] #113 closed

[2018-04-01 22:32] ekoeryanto commented on #113
@bvaughn I read the readme, but codesandbox not using umd build, I tried jsbin
following the readme, but doesn't work

here is http://jsbin.com/vojuwok/edit?html,js,console,output

[2018-04-05 08:52] the-spyke commented on #90
Temporary fix for `Webpack >= 3.0`:

[code]

[2018-04-11 20:23] lslv1243 opened #114 "cannot trigger dropdown open programatically"
I need to trigger dropdown open to a test but I can not even trigger it directly in the browser while running the app.
I have tried selecting the input and using `.click()` and `.dispatchEvent(new Event('mousedown'))` but no success.

[2018-04-11 20:31] bvaughn commented on #114
Hey @lslv1243 👋 Seems like this question should probably be asked on Stack Overflow rather than GItHub. It seems to be a question about `react-select` too, rather than `react-virtualized-select`. 😄

[2018-04-11 20:31] #114 closed

[2018-04-20 01:39] anandrikka opened #115 "handleScrollEvent not a function error"
Suddenly getting the below error

React-Virtualized-Select: 3.0.1
react-virtualized: 9.12.0
[code]

[code]

[2018-04-20 01:42] bvaughn commented on #115
react-virtualized@9.12.0 was released 6 months ago and react-virtualized-select@3.01 was released over a year ago. It seems unlikely that these two suddenly broke without an external change of some sort. I'll need you to provide a repro (e.g. CodeSandbox) before I'll take a look. 😄

[2018-04-20 01:53] anandrikka commented on #115
@bvaughn my package.json shows `"react-virtualized": "^8.11.4" but I installed much higher without updating package.json. Looks like I'm the culprit :smile:

[2018-04-20 02:01] anandrikka commented on #115
@bvaughn It is version mismatch. Thank  you.

[2018-04-20 02:01] #115 closed

[2018-04-20 02:03] bvaughn commented on #115
Cool. Thanks for the update!

On Thu, Apr 19, 2018, 7:01 PM Anand Reddy Rikka <notifications@github.com>
wrote:

[2018-04-22 14:02] SelaO opened #116 "Elements in the list are messed up when searching"
I have 33300 elements that I want to place in a select (it's 3.5MB). but when scrolling through them it rolls back up after a second, and if I search for an element, they become messed up:

![2018-04-22_16-56-49](https://user-images.githubusercontent.com/21977571/39095771-a522e3e4-464e-11e8-99cd-b77ebece09ac.png)

Can this library support such scale?
And how can I add this library to jsfiddle so I

[2018-04-22 14:50] bvaughn commented on #116
Looks to me at a glance like the text is wrapping and overlapping the line below.

Should be fine, yes.

Just fork one of the Code Sandbox examples the README links to, like this one:
https://codesandbox.io/s/91p80x10zp

[2018-04-22 14:53] bvaughn commented on #109
This isn't a use case I've put much thought into.

`react-virtualized-select` is a convenience component that ties `react-select` and `react-virtualized` together for (what I imagine to be) the most common use cases. You might have better luck forking `react-virtualized-select` and seeing if you can get the multi-line text working using something like you would do with plain `react-virtualized` an

[2018-04-22 14:56] #69 closed

[2018-04-23 07:08] SelaO commented on #116
Look at this:

![2018-04-23_09-55-35](https://user-images.githubusercontent.com/21977571/39111139-a9dff1fe-46dc-11e8-916b-dcf227638a36.png)

This is the options I used: https://drive.google.com/file/d/1-371Xss5CYPzGe7_0YY0qWx1i2YgELp0/view?usp=sharing

It's too big to save on the site but it works if you paste it.

It also scrolls back up after a few mouse wheel scrolls (I'm on chrome on win 10).

[2018-04-23 07:45] SelaO commented on #116
How can I run the demo locally?

After I create a new app with `npx create-react-app my-app`, what then?

[2018-04-23 16:10] bvaughn commented on #116
Sorry, but I don't have a lot of time to help with creating the repro. Hopefully you can create it by forking the Code Sandbox I listed and using way less than 3.5MB of options you are using in your production app.

Right, because it's using a naive search function on many thousands of items. You might want to check out this project for a faster searching solution:
https://github.com/bvaughn/react

[2018-04-26 07:30] SelaO commented on #116
There's also this problem where it jumps to the middle after I drag the scroll bar.

![2018-04-26_10-28-41](https://user-images.githubusercontent.com/21977571/39291755-b535dcb4-493c-11e8-9ceb-24c0b88b54dc.gif)

[2018-05-24 14:40] geirsagberg commented on #44
I ran into the same problem. Maybe you could add this limitation to the README? Currently it says:

However, if `optionComponent` is not supported, this should be mentioned as a limitation.

[2018-05-24 14:43] bvaughn commented on #44
I'm not really using this library myself these days, but I'm happy to accept PRs that improve the documentation. Want to submit one? 😄

[2018-05-24 14:52] geirsagberg commented on #44
@bvaughn https://github.com/bvaughn/react-virtualized-select/pull/119 Done :)

[2018-05-25 22:58] nafg commented on #4
If you're loading data from ajax, your bottleneck is not just overloading the DOM, it's also loading more items than you need. How do you load only one page of data at a time?

[2018-05-30 22:18] sdemjanenko opened #120 "React 16"
Is React 16 fully supported? If so can we add the non-alpha version as a peerDependency? Thanks!

[2018-05-30 22:30] bvaughn commented on #120
No need to change the peer dependency. The current one (`^15.3.0 || ^16.0.0-alpha`) is inclusive of all alpha, beta, RC, and final versions of React.

[2018-05-30 22:30] #120 closed

[2018-06-04 11:53] Moejoe90 opened #121 "Optional suggestions with this component"
Hey, very nice component.

I want to ask if there is an option of making this select optional instead of forcing a value
I tried looking into documentation but its not very clear

Best reagards

[2018-06-04 12:09] bvaughn commented on #121
I believe you'll want to take a look at the [react-select](https://github.com/JedWatson/react-select) documentation. This component just renders the options it's passed. (Specifically, I believe you're looking for the `clearable` option.)

[2018-06-04 12:09] #121 closed

[2018-06-07 01:37] pirsquare commented on #109
I managed to get `CellMeasurer` to work with react-select. One tricky aspect is the need to invalidate caches whenever search input values changes so that list height gets updated appropriately. This is because different filters will render different results thus the first index with an initial height of 35px may now require 57px.

Illustration inspired from https://github.com/bvaughn/react-virtua

[2018-06-09 15:19] bvaughn commented on #109
Cool, thanks for sharing your work in progress @pirsquare 😄

I've moved it into a Code Sandbox so others can play around with it more easily:
https://codesandbox.io/s/0qk90vnl1l

[2018-06-26 07:52] MortenLohne opened #122 "Dead links in the readme"
The npm links on top of the readme are all dead, they just return "Error Fetching Resource".

[2018-06-26 14:19] bvaughn commented on #122
Looks like it was a transient Code Sandbox or GitHub error. The links seem to be working for me.

[2018-06-26 14:19] #122 closed

[2018-07-13 07:04] kenzouno1 commented on #109
+1 update

[2018-07-13 15:02] thomasdarvik opened #123 "Long option string breaks the lines, and options render on top of each other"
I am having some problems with long option strings in the component. I am not sure if this is related to `react-select`, or if this is a problem with `react-virtualized-select`.

**How can I prevent text from rendering like this?**
https://i.imgur.com/OmtbeKI.png

As you can see, two options are rendered on top of each other.
This is only happening when the dropdown is small, but it should still b

[2018-07-13 15:21] bvaughn commented on #123
You can prevent this with CSS:
[code]
Maybe this should even be the default style.

[2018-07-13 21:21] thomasdarvik commented on #123
That seems like a good option, however, I see that the text is just continuing out of the dropdown option. It would be great to have the wrap, but prevent the two option lines from overlapping. I will check it out some more.

It might be a good option to have the default style as `nowrap`, but maybe point out that it is default set to `nowrap` in the docs?

[2018-07-13 21:54] thomasdarvik commented on #123
**Alternative solution I found**

One solution that fixes my issue, and will render the dropdown option "the correct way" (for me at least), is to add `box-sizing: content-box` and remove the hard-coded `height: 35px` on `.VirtualizedSelectOption`

[code]

[2018-07-13 22:08] thomasdarvik commented on #123
Possible fix in #124

[2018-07-13 22:48] #123 closed

[2018-07-17 18:34] vanessa commented on #75
The same thing is happening to me. I'm using a VirtualizedSelect with custom option renderer.

![rvs](https://user-images.githubusercontent.com/23136832/42838299-d217e8a6-89d6-11e8-89cd-271c69eaedb1.gif)

[2018-07-17 19:04] bvaughn commented on #75
@vanessa At a glance, this looks like you might be forgetting to use the `style` param

[2018-07-17 20:50] bvaughn commented on #75
In your current code above, it doesn't look like you're using [the `style` param passed to the custom option renderer](https://github.com/bvaughn/react-virtualized-select#custom-option-renderer). You're using your own style, which is masking the warning, but that style isn't the one passed to you– so it doesn't have the positioning info.

[2018-07-17 22:32] lothisoft commented on #75
@bvaughn is right.  Move your custom style to a css file with a proper className and give the div the same className.

Then add
`style={style}`
to your div.

[2018-07-17 22:35] bvaughn commented on #75
Or you could spread:
[code]

[2018-07-19 16:20] rivertam opened #125 "Lazy options"
So I see that there's an `async` feature, but this seems to be more for searching and that kind of thing. What if I just want to only load options when the dropdown is selected? I have a UI component that is set to a sane default we know ahead of time, but I want the ability to load the other options when requested. You can kind of think of it like how Google has their account selector at the top

[2018-07-19 16:22] bvaughn commented on #125
This seems like more of a question for react-select. This library just displays a list of options efficiently. It doesn't actually load or filter anything.

[2018-07-19 16:23] rivertam commented on #125
@bvaughn Thanks for the quick response. I thought that was something react-virtualized-select offered specifically as it's specifically documented here, but I see now that react-select also offers it.

[2018-07-19 16:23] #125 closed

[2018-07-19 16:24] bvaughn commented on #125
No problem 👍

[2018-07-23 10:45] finkbg commented on #112
As of now, v2.0 is released:

https://github.com/JedWatson/react-select
https://react-select.com

[2018-08-01 09:00] kenzouno1 commented on #123
@thomasdarvik i try your css but  not working for me.

[2018-08-06 18:24] Tamakimouto opened #126 "Is there a way to get a ref to the React-Select?"
I'm trying to get to the menu/menuContainer from this component, is there a way to do so that I'm not seeing?

[2018-08-06 18:26] bvaughn commented on #126
No. There is no way, currently, to get a ref to the inner select component. Sorry! 😄

If you'd like to submit a PR, I'll consider it.

[2018-08-06 18:26] #126 closed

[2018-08-06 18:42] Tamakimouto commented on #126
Right as I wrote that, I found a sketchy way to get to it.
I haven't tested enough to see if there are any consequences of accessing it like this, but so far it seems to work.

`ref={el => this.select = el._selectRef.select}`

[2018-08-06 19:49] bvaughn commented on #126
Right. That will get it, but it might break in a future release if we ever changed that attribute (unlikely to happen though 😄)

[2018-08-08 14:29] tmacdonald commented on #112
I struggled trying to integrate version 2 of react-select with react-virtualized, but see this for an integration with react-window: https://github.com/JedWatson/react-select/issues/2850#issuecomment-410318717

[2018-08-08 14:29] thomasdarvik commented on #109
I had the same problem, but I was not sure which component had the problem. I ended up just making the dropdown bigger (which was just a temp fix for the problem). This looks really promising.

Is there a chance this will be implemented in the source @bvaughn?

[2018-08-08 14:40] bvaughn commented on #109
This issue is tagged "help wanted" – meaning that I have no intention of doing it. If someone else does, and submits a PR, maybe.

[2018-08-08 14:41] bvaughn commented on #112
Integrating with react-window for v2 is probably a better option, unless your app is already using react-virtualized in which case– maybe just follow the pattern shown there, but for RV?

[2018-08-28 00:36] semireg commented on #106
FYI, the README shows `selectValue(value)` but @andrewmartin's example shows `selectValue(option)`. The docs still seem wrong, because I banged my head against it until I found this issue.

[2018-08-28 14:53] bvaughn commented on #106
Gotcha. I didn't write that docs example (9fea5ea) but I believe you're right. I'll update it.

[2018-09-08 12:09] JValens opened #127 "React Select CSS Missing"
I have installed library as given in npm demo installation. I have also installed react-select library but when I tried to find out CSS inside
import 'react-select/dist/react-select.css'
from node_modules. In react-select only JS file available in this directory. No CSS file inside that directory. Should I have to find out from somewhere else?

[2018-09-08 14:30] bvaughn commented on #127
This library is compatible with react-select version 1 only. The CSS is [in the location the docs show](https://unpkg.com/react-select@1.3.0/dist/react-select.css) for v1, but not v2.

[2018-09-08 14:30] #127 closed

[2018-09-10 11:55] kro12 commented on #116
Hey, not sure if this is related but seeing issues when using custom _optionRenderer_ with virtualized select. I created a Code Sandbox example fork as suggested, please let me know if you would prefer me to open this as a separate issue.

[Forked example](https://codesandbox.io/s/1zw9jojn43)
[Youtube video of the behaviour](https://youtu.be/Egvm70XIj2M)

[2018-09-10 15:37] bvaughn commented on #116
@kro12 The sandbox you linked to is not using the `style` param. Here's a fix: https://codesandbox.io/s/y2799p92l9

I'm closing the original issue since OP never provided a repro case.

[2018-09-10 15:37] #116 closed

[2018-09-10 16:26] bvaughn commented on #116
Happy to hear it 😊 thanks for the repro. Saves a lot of time

On Mon, Sep 10, 2018, 9:25 AM kro12 <notifications@github.com> wrote:

[2018-09-10 16:35] kro12 commented on #116
Yeh, I can appreciate that 👍  **_CodeSandbox_** is so useful

[2018-09-13 07:24] SogoGolf opened #128 "how to set the default value from the list of available (select) options"
hi, thanks for this component really love it.

probly a dumb question but how can I set the "default" value ? i want to be able to show a value from the list of options (loaded via options prop) as soon as the  react-virtualized-select component is rendered.

[2018-09-13 14:12] bvaughn commented on #128
This sounds like a react-select question. I believe you should be able to just set the `value` on the select component as you normally would and this should just work.

[2018-09-15 02:30] SogoGolf commented on #128
appreciate quick reply. i should have mentioned this in my question above, but i had wrapped VirtualizedSelect so I can use it with Formik. Since I was passing in an object to the wrapped component I just needed to grab the property i needed in onChange and all was good.

[2018-09-15 02:30] #128 closed

[2018-09-15 05:08] bvaughn commented on #128
Nice! Glad you got it sorted quickly 👍

[2018-09-25 12:57] victornoel opened #129 "Drag and dropping elements to reorder them"
When doing multi-select, it could be nice to be able to reorder elements in the list.

One way to do so would be via drag-and-drop to move them.

WDYT?

[2018-09-25 14:10] bvaughn commented on #129
Initial reaction is that it doesn't sound like too common a UX need to be able to reorder items in a select, but I'm sure there are cases when it could make sense. 😄 I don't have any time to add new features to this library though.

[2018-09-25 17:29] victornoel commented on #129
Hehe, yes, I was actually wondering if this use case could be covered by something else but I don't think so...

The use case is that the order of the selected elements is important in the application where the component is used, so it can be quite bothersome to add one in the middle of others.

Furthermore, adding an element to the selector is actually a long process: you choose an item in the dr

[2018-09-25 17:37] bvaughn commented on #129
No idea. If I was going to build it, I'd look into using something like [react-dnd-hoc](https://github.com/clauderic/react-sortable-hoc) which already works well with react-virtualized.

I can't promise a timely PR review or release. I'm _really_ swamped right now. Feel free to submit a PR– but you might also end up forking if you have a time sensitive need. 😄

[2018-10-03 20:03] jkergosi opened #130 "Return key only"
This could be my lack of understanding, but I've gone through the documentation without luck.

<VirtualizedSelect
           labelKey='title'
           valueKey='id'
           simpleValue
           options={lists.options}
           onChange={(optionSelected) => this.setState({optionSelected})}
           value={optionSelected}
           clearable={true}
           disabled={false}

[2018-10-04 05:59] kvillaniholland commented on #130
does this solve your problem?
[code]

[2018-10-04 14:10] jkergosi commented on #130
Thanks kvillaniholland! That worked.

[2018-10-04 14:10] #130 closed

[2018-10-26 17:06] mallerie opened #132 "Placeholder misaligned in Chrome"
Using the multi-select option, the cursor shows up after the first character of the placeholder. Has anyone else seen this? Or can try to recreate it? I am only using styles from the library.

![screen shot 2018-10-26 at 11 45 18 am](https://user-images.githubusercontent.com/16726365/47581545-ac232c80-d91f-11e8-932e-7b9df06cc0a8.png)

[2018-10-26 17:07] mallerie commented on #132
Also, I have version 3.1.3.

[2018-10-26 17:14] mallerie commented on #132
I will submit a PR and test for all browsers if someone can recreate this issue.

[2018-11-19 21:12] bvaughn commented on #132
Sounds like a bug with react-select. This component doesn't render that portion of the UI 😄

Please file against react-select: https://github.com/JedWatson/react-select

[2018-11-19 21:12] #132 closed

[2018-11-19 21:44] mallerie commented on #132
Sounds good.

[2018-12-04 13:29] jainvizz opened #134 "Virtualized select design got disturbed with Bootstrap 4"
I was using virtualized select with bootstrap 3 and recently upgraded to bootstrap 4, but after that virtualized select design got disturbed totally.

Below I am providing the code snippet for the same:

`import VirtualizedSelect from 'react-virtualized-select';
import 'react-select/dist/react-select.css';
import 'react-virtualized/styles.css';
import 'react-virtualized-select/styles.css';`

`<div

[2018-12-04 14:50] bvaughn commented on #134
Sounds like Bootstrap 4 styles are interfering with this component's default styles. I suggest putting together a runnable demo (on Code Sandbox) so people can inspect the styles and see what's happening, and posting somewhere like Stack Overflow. 😊

I'm going to close this issue because it's not a problem with this component, and I don't have the time to put together a repro or dig into it. (Sorr

[2018-12-04 14:50] #134 closed

[2018-12-04 14:51] bvaughn commented on #129
Closing for now since this issue seems to have stalled

[2018-12-04 14:51] #129 closed

[2018-12-04 14:51] #111 closed

[2018-12-05 10:37] jainvizz commented on #134
Created code sandbox for the same

[https://codesandbox.io/s/642oj0o4r3](url)

Can you please check the issue now.

[2018-12-05 13:10] ItsTarik commented on #112
hey @bvaughn, is there news about this subject ?
it is really important to always support react-select virtualization since it is widely used.

[2018-12-05 14:16] bvaughn commented on #112
This issue is tagged "help wanted" but no PRs take been submitted, so no update that I'm aware of. 😁

[2018-12-05 14:17] bvaughn commented on #134
Try Stack Overflow? I'm not a Bootstrap user. I'm not at all familiar with it's styles.

[2018-12-06 23:23] ItsTarik commented on #112
Okey @bvaughn i can see, similar case of `dominictarr` on maintaining OSS :package: (s).
but it would be usefull if somewone makes the upgrade. is it just so complicated ? because i noticed that it has been already a while since the issue was opened.

[2018-12-06 23:44] bvaughn commented on #112
I don't know. I haven't used react-select or this library in a long time. I've never used react-select v2.

[2018-12-07 16:46] omarefg commented on #108
What if you add a css file and overwrite the Select-menu-outer class? So you can add the scrollbar the styles you want.

[2019-02-21 01:02] rivertam opened #136 "Custom value equality"
It seems that if I provide options with object values (such as `{ id: 'aaaa' }`), the value property doesn't properly select the option.

Obviously I have a couple of naiive solutions available:

- Use `JSON.stringify` on the values
- Unwrap/otherwise serialize

But I'd love a way to specify to use lodash's `isEqual` or something instead. Is this possible, or would such a feature be appreciated?

[2019-03-08 13:49] mehdirazajaffri opened #137 "isDisabled is not working"
isDisabled is not working

[2019-03-08 15:55] bvaughn commented on #137
Sorry @mehdirazajaffri. I don't have the time to look at bugs without repros.

Make sure you're using a supported version of `react-select`. v1 (the only version this library is compatible with) doesn't have an `isDisabled` prop. It has `disabled`.

[2019-03-08 15:55] #137 closed

[2019-03-08 16:04] mehdirazajaffri commented on #137
Sorry, thanks i tried disabled then i tried isDisabled, you are right i am
using 2.4 version of react-select

On Fri, Mar 8, 2019, 8:55 PM Brian Vaughn <notifications@github.com> wrote:

[2019-03-08 16:08] bvaughn commented on #137
It's okay. v2 isn't supported (see #112)

[2019-03-08 16:09] mehdirazajaffri commented on #137
Many apologies i did not read that. ☺️

On Fri, Mar 8, 2019, 9:08 PM Brian Vaughn <notifications@github.com> wrote:

--
Mehdi Raza

[2019-03-08 16:11] bvaughn commented on #137
It's ok 😄

[2019-03-09 06:04] bvaughn commented on #136
Hi :wave: This library isn't really supported anymore. It doesn't support the current version of react-select (v2) and react-virtualized itself isn't really a project I'm maintaining any more either.

Realistically, you're probably better off to just fork it. Unless you want to do all of the work yourself.

[2019-04-10 13:53] anisbi opened #140 "Styling the selected value"
Hey,

Using `optionRenderer` I was able to style the components of the Selection List.

I would like to be able to style the selected option (collapsed) in the form.

In this gif you can see how the Courier logos appear in the drop down, but once the value is selected the styling isn't applied to the selected component:
![courierlogo](https://user-images.githubusercontent.com/17564575/55884641-145

[2019-04-10 15:18] bvaughn commented on #140
The collapsed UI is rendered by react-select, not this library. This library just renders the menu (drop down) portion and otherwise passes params through to react-select:
https://github.com/bvaughn/react-virtualized-select/blob/aa47a7f43bb7574acbd47ab1483e737d66979b6a/source/VirtualizedSelect/VirtualizedSelect.js#L50-L61

I'd suggest checking out the docs for react-select on how to style it 😄

[2019-04-10 15:18] #140 closed

[2019-05-15 00:57] steviesama opened #141 "Scroll select behavior erratic"
I realize you don't actively develop this control anymore...but I was wondering if you could give me some hint as to how I might go about fixing how it behaves when you try to scroll select values.

When I have some values...even like 10-20...when I scroll away from the beginning...when I move the mouse inside the outer menu to select something...it jets back up to the top of the list. You have to

[2019-06-20 17:33] jacobtylerdavis commented on #110
@sideisra Thanks for following up with your fix, this is the same issue I had as well -- ensuring the `valueKey` properties are unique fixed it.

[2019-07-09 16:01] raoulduke opened #142 ""name" attribute missing"
Adding a "name" attribute to the Select component does not bubble down to the created input.

ex/

[code]

[2019-07-19 15:24] hector101-coursera commented on #141
@steviesama were you able to figure out what the problem is?

[2019-08-19 01:58] steviesama commented on #141
@hector101-coursera I'm using a combination of this control and react-select-2... For whatever reason...the behavior I described was only happening on my drawers that had data filters in it. Everywhere else that mouse problem wasn't happening. I avoided spending more time on it and just used the opposing control...I'm thinking the Ant Design Drawer it was inside of could have caused some sort of s